.show-hide-img{
  height: 50px;
  width: 50px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid $gray;
  @include background-svg('plus');
  padding: 5px;
}

.comments-area{
  h3{
    color: $gray;
    font-weight: normal;
    font-size: 18px;
}
p{
  font-size: 16px;
}
  .comments-show-hide{
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 15px;

    h3{
      margin-top: 10px;
    }
  }
  .comments-wrapper{
    width: 55%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    @include media("<tablet-verticale") {
        width: 80%;
    }
    @include media("<phone") {
        width: 95%;
    }
  }
.submit{
  padding: 4px 10px;
  font-size: 17px;
  letter-spacing: 0.5px;
  @include media("<fat-phone") {
    font-size: 18px;
    letter-spacing: 0;
  }
}

  .comment-notes{
    font-size: 14px;
  }

}

.single{
  .comment-form{
    margin-top: 30px;


    }

    .comment-notes{
      font-size: 13px;
      color: $gray;
    }

    .status {
    font-size: 14px;
    margin-bottom: 20px;
}
    }

    .comments-wrapper{

      header.vcard.author.entry-title{
        margin: 0;
        padding: 0;

        h3{
          margin: 0;
          font-size: 16px;
          color: $gray-dark;
        }
      }

      article{
        padding: 10px 20px;
        margin: 0 auto;
        border-bottom: 1px solid $gray;
      }

      .comment-body{
        border-bottom:2px solid $gray-medium;
        margin-bottom: 15px;
        p{
          font-size: 15px;
          padding: 0;
          color: $gray;
        }
      }
      .reply-anchor, .close-anchor{
        padding: 1px 5px;
      font-style: normal;
      font-size: 16px;
      color: $gray;
      border: 1px solid $gray;
      border-radius: 10px;
      background: none;

          &:hover{
            background-color: $gray-medium;
          border: 1px solid $gray-medium;
        }
      }
      ////////risposte

      .son{
        width: 90%;
        float: right;
        padding-right: 0;
        border: none;
        border-left: 2px solid $gray-medium;

        article{
          margin: 0;
          padding: 0;
        }
        .comment-body{
          margin-bottom: 5px;
          p{
            margin-bottom: 5px;
          }
        }
      }
      .rispondi{
        clear: both;
        padding: 10px 0;
        p{
          padding: 0;
          margin: 0;
        }
      }
    }
