.button-comments, .add-comment {
    font-size: 16px;
    padding: 2px 11px;
    text-transform: lowercase;
    color:$gray;

    &:hover{
      color: $gray-dark;
    }
    @include media( "<tablet" ) {
      font-size: 18px;
      padding: 4px 13px
    }
}

.section-cont-article, .form-nested{
  .comment-form{
    margin-top: 10px;

    p {
      margin: 0 auto;
      margin-bottom: 7px;
      @include media( "<fat-phone" ) {
        font-size: 15px;
      }
    }
    textarea{
      max-height: 100px;
    }
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="text"], textarea,
    select[multiple=multiple],
    textarea{
      padding: 3px 7px;
      font-size: 15px;
      margin: 0;
      @include media( "<fat-phone" ) {
        padding: 5px 10px;
        font-size: 16px;
        margin: 2px 0;
      }
    }

    .comment-notes{
      font-size: 13px;
      color: $gray;
    }

    .status {
    font-size: 14px;
    margin-bottom: 20px;
}

.submit{
  padding: 4px 10px;
  font-size: 16px;
  letter-spacing: 0.5px;
  @include media("<fat-phone") {
    font-size: 17px;
    letter-spacing: 0;
  }
}
    }

    .comments-wrapper{

      .close_comments {
        	@include background_svg( 'close' );
        @include position(absolute, 0 15px null null);
        position: absolute;

        border-radius: 50%;
        border:1px solid $gray;
        background: {
          size: 80%;
          position: center;
          repeat: no-repeat;
        }
        height: 25px;
        width: 25px;

        cursor: pointer;
      }

      header.vcard.author.entry-title{
        margin: 0;
        padding: 0;

        h3{
          margin: 0;
          font-size: 16px;
          color: $gray-dark;
        }
      }

      article{
        padding: 10px 20px;
        margin: 0 auto;
        border-bottom: 4px solid $gray-medium;
        cursor: default;
      }

      .comment-body{
        border-bottom:2px solid $gray-medium;
        margin-bottom: 15px;
        p{
          font-size: 15px;
          color: $gray;
        }
      }
      .rispondi{
        clear: both;
        padding: 10px 0;
      }
      .reply-anchor, .close, .show_responses{
        margin: 0 5px;

        padding: 1px 7px;
        float: left;
      font-style: normal;
      font-size: 16px;
      text-transform: lowercase;
      color: $gray;
      border: 1px solid $gray;
      border-radius: 10px;
      background: none;

          &:hover{
            background-color: $gray-medium;
          border: 1px solid $gray-medium;
        }
      }
      .father{
      .respond{
        p{
          padding: 0;
        }
      }
    }
      ////////risposte

      .son{
        width: 90%;
        float: right;
        padding-right: 0;
        border: none;
        border-left: 2px solid $gray-medium;

        article{
          margin: 0;
          padding: 0;
        }
        .comment-body{
          margin-bottom: 5px;
          p{
            margin-bottom: 5px;
          }
        }
      }
      .rispondi{
        clear: both;
        padding: 10px 0;
        height: auto; /*luca*/
        p{
          padding: 0;
          margin: 0;
        }
      }
    }
  }



/* aggiusta il footer delle card - temporaneo */
.post footer {
  height: auto !important; // Brutta cosa, lo so, ma è solo per non andare a modificare
}

button.add-comment{
margin: 10px auto;
}
