.error404{
  background-color: $color-error;

  section{
  height: 100%;

.content-404{
  width: 350px;
  height: 350px;
  padding: 50px;
  margin: 40px auto;
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;

  @include media( "<phone" ) {
    width: 250px;
    height: 250px;
    padding: 30px 10px;
  }


  h1{
    font-family: 'robotothin' 'arial' sans-serif;
    text-align: center;
    font-size: 40px;
    line-height: 100px;
    color: #fff;
    margin-bottom: 5px;
    @include media( "<phone" ) {
      font-size: 25px;
      line-height: 75px;
    }
  }

  h3{
    font-family: $thin-roboto , 'arial' sans-serif;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    color: #fff;
    @include media( "<phone" ) {
      font-size: 20px;
      margin-top: 8px;
    }
  }

  button{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    margin: 0 auto;
    display: block;
  margin-top: 26px;
  }
}
}
}
