//var
$height_lg: 110px;

.ultimi_articoli_mask {
  height: $height_lg * 2;
  overflow: hidden;

  ul {
    padding: 0 0 0 0;
  }

  li {
    display: block;
    height: $height_lg;

    &:nth(2n) {
      border-bottom: 1px solid black;
    }
  }
}



/*.sidebar-single {*/
  .widget_loppure_last_articles {


    float: right;
    max-width: 100%;
    width: 100%;
    height: 280px;

    margin: 30px auto 0;
    padding: 10px 0 15px;

    background-color: $gray-slim;
    clear: both;



    .widget-title {
      font-size: 20px;
      font-weight: bold;
      color: $gray;
      margin-top: 5px;
    }

    .cerchio {
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 10px;
      margin-left: 5px;
      border-radius: 50%;
      background-size: 80%;
    }

    li {
      display: block;
      height: $height_lg;
      padding: 10px 5px 0;
      border-bottom: 5px solid $gray-medium;
    }

    h4 {
      font-size: 15px;
      margin-bottom: 14px;
    }

    h5 {
      margin: {
        top: -13px;
        left: 45px;
      }
      font: {
        size: 14.7px;
        weight: normal;
      }
    }
    a{
      color: $gray;
      &:hover{
        color: $gray-dark;
      }
    }

  }

/*}*/
