
.contatti-card{
  .card-page{
    height: 190px;
      h3{
        color: $gray;
        margin-top:-10px;
      }
      h6{
        margin-left: 62px;
        color: $gray;
        margin-top: -28px;
        font-size: 15px;
        font-weight: normal;
        font-style: italic;
      }
      p{
        font-size: 13px;
        margin-top: 20px;
      }
      span{
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 18px;
      }
    }
}

.load-more {
  display: block;

  margin: 0 auto;
  margin-top: 15px;
  border-radius: 50px;
  border:none;
  padding: 5px 10px;

  background-color: $gray-medium;
  color: $gray;

  text-transform: uppercase;
  font: {
    size: 13.3px;
    weight: bold;
  }
  letter-spacing: 0.2px;

  &:hover{
    color: black;
  }
}
