.widget {
	margin: 0;

	h1 {
		font-size:17px;
		margin-top: 7px;
		font-weight: normal;
		text-align: center;
	}

	button {
		display: block;

		margin: 0 auto;
		margin-top: 15px;
		border-radius: 50px;
		padding: 1px 10px;

		background-color: $gray-medium;
		color: $gray;
		text-transform: lowercase;
		letter-spacing: 0.2px;

		font: {
			weight: normal;
			size: 16px;
		}


		&:hover{
			color: $gray-dark;
		}

		@include media( "<fat-phone" ) {
			font-size: 17px;
			padding: 2px 13px
		}
	}

	.icon-sidbaer {
		display: block;
		width: 45px;
		height: 45px;

		margin: 10px auto 0;
		border-radius: 50%;

		background: {
			size: 74%;
			color: $gray-medium;
		}
	}
	.img-sezioni{
		background-size: 120%;
		background-position: 50% 14%;
	}


	.gray-slim {
		background-color: $gray-slim;
		clear: both;
	}


	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.sidebar-1{


	.gray-slim,.timeline{
		max-width:157px;
		width: 100%;
		height: 253px;
		margin: 0;
		float: left;
		margin-bottom: 10px;
	}
}

.sidebar-1 {
	@include media( "<tablet-verticale" ) {
		@include span-columns(48);
	}

	.gray-slim,.timeline {
		@include media( "<tablet-verticale" ) {
			@include span-columns(23);
			clear: none;
		}

		@include media( "<tablet-verticale" ) {
			padding: 10px;
			float: left;
			max-width: 450px;
			margin-right: 0;
			margin: 0 auto;
			margin-bottom: 20px;
			height: 285px;

		}

		&:last-child {
			@include media( "<tablet-verticale" ) {
				margin: 0 auto;
				margin-bottom: 20px;
			}
		}
		@include media( "<phone" ) {
			@include span-columns(48);
			margin-bottom: 15px;
		}
	}

	.timeline{
		@include media( "<tablet-verticale" ) {
			float: left;
		}
	}
	.gray-slim{
		@include media( "<tablet-verticale" ) {
			float: right;
		}
	}
}


.sidebar-2{
	.gray-slim {
		max-width:230px;
		height: 165px;
		float: right;
		margin: 0;
		padding-top: 20px;
		margin-bottom: 10px;

		@include media( "<tablet-verticale" ) {
			float: none;
			max-width: $width_lg-card-citta;
			margin: 0 auto;
			margin-bottom: 10px
		}
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
