/*******************************************************************************
  INIZIO SEZIONE FIGA
*******************************************************************************/

// faccio andare da altezza  `0` a `auto` il div animando la max-height
// da 0 a un valore incredibilmente alto
.comments-wrapper {
  position: relative;       // <-- aggiunta da poco (11/10/2015)
  max-height: 0px;
  @include transition(max-height, 1.1s cubic-bezier(0.1, 0.2, 0.32, 1.01));
  overflow: hidden;
}

.comments-wrapper.open {
  max-height: 10000px; // HACK ^^ - diecimila pixels... andiamo sul sicuro :D
  @include transition(max-height, 1s cubic-bezier(1, 0.05, 0.88, 0.99));
  //overflow: visible; // o scroll // disabilitato perchè su firefox fa dei glitch grafici
}

/*******************************************************************************
  FINE SEZIONE FIGA
*******************************************************************************/

/*******************************************************************************
  ROTAZIONE 45°
*******************************************************************************/
.show-hide-img {
  @include transition(transform, 200ms ease);

  &.opened {
    @include transform(rotateZ(45deg));
  }
}

/*******************************************************************************
  'X' sui commenti
*******************************************************************************/
.section-cont-article article footer {
  height: auto;
}
// enddebug

// metto i bottoni sulla stessa linea
.button-like-post, .button-comments {
  display: inline-block;
  vertical-align: middle;
}

// metto in grossetto il numero di commenti
.button-comments span {
  font-weight: bold;
}

// tolgo quel *fastidiosissimo* bordino blu quando un form/bottone/link è attivo
button, a, input, textarea {
  &:active, &:focus {
    outline: 0;
  }
}

.hidden {
  display: none;
}
