//Elementi-loppure -> Control Navigation in HOME
.home-header
  .col-servizi
    width: 150px
    height: 150px
    display: inline-block
    background-color: red

    h2
      font-size: 25px
      text-align: center
      color: bianco

      &:before
        width: 75px
        height: 75px
        content: ' '
        display: block
        margin: 0 auto
        background-color: bianco

  //Elementi-loppure -> Control Navigation in HOME -> content-contenuto-servizi
  .content-contenuto-servizi
    display: none
