//Elementi-loppure -> Control Navigation in HOME
.control-home
  margin: 30px auto
  margin-top: 120px
  text-align: center

  .col-servizi
    width: 150px
    height: 100px
    overflow: hidden
    display: inline-block
    padding: 25px 10px
    margin: 0 20px
    background-color: rgba(255,255,255,0.5)
    border: 1px solid bianco

    h2
      font-size: 20px
      text-align: center
      color: colore-loppure

      &:before
        width: 50px
        height: 50px
        content: ' '
        display: block
        margin: 0 auto
        margin-bottom: 20px
        border: 2px solid colore-loppure

  //Elementi-loppure -> Control Navigation in HOME -> content-contenuto-servizi
  .content-contenuto-servizi
    display: none
