// Elementi-loppure -> Elementi geometrici Team
.content-box-team
  gs("fluid")
  width: auto
  max-width: 100%

.box-team-max
  col(4)
  width: 30.33%
  height: 450px
  padding: 7px 5px
  margin: 0 0.5%
  margin-bottom: 10px
  border: 2px solid colore-loppure
  border-radius: 10px

  header
    height: auto
    padding-bottom: 10px
    overflow: hidden

    img
      width: 85px
      height: 85px
      display: block
      margin: 10px auto
      border 2px solid colore-loppure
      border-radius: 50%

    h4, & a
      margin: 0
      padding: 0
      font-size: 17px
      color: colore-loppure


  .box-team-text
    font-size: 14.5px


.box-team-medium
  col(3)
  width: 23.8%
  height: 150px
  margin-bottom: 10px
  border: 2px solid colore-loppure
  border-radius: 5px

  img
    height: 85px
    width: 85px
    display: block
    margin: 15px auto
    margin-bottom: 7px
    border: 2px solid colore-loppure
    border-radius: 50%;

  .ruolo
    display: block
    margin: 0 auto
    font-size: 15px
    text-align: center
    color: grigio-medio

  h3, & a
    display: block
    margin 0 auto
    padding: 0
    float: none
    clear: none
    font-size: 18px
    font-weight: 700
    text-align: center
    color: colore-loppure

//Box team small
.box-team-small
  col(2)
  width: 14.25%
  margin: 0 0.5%
  height: 170px
  padding: 7px
  margin-bottom: 10px
  background-color: colore-loppure
  border: 1px solid grigio-intermedio
  border-bottom: 2px solid colore-loppure

  header
    margin: 0
    padding: 0
    position: relative
    top: 120px

  h3, & a
    margin: 0
    padding: 0
    font-size: 16px
    font-weight: 400
    color: bianco

  span
    display: block
    margin: 0 auto
    text-align: center
    font-size: 13px
    color: bianco
