// Elementi-loppure -> Rettagoli home
// Elementi-loppure -> Rettagoli home: Scheletro
.home-header .box-rettangolo-4
  col(3)
  width: 23.9%
  margin: 0 0.1%
  height: 60px
  padding: 5px
  margin-bottom: 3px
  background-color: red

  @media (max-width: tablet)
    height: 100px

  @media (max-width: medium)
    height: 100px

  @media (max-width: mini-tablet)
    height: 100px
    margin-bottom: 5px

  @media (max-width: smartphone)
    col(6)
    margin-bottom: 5px
    height: 120px

// Elementi-loppure -> Rettagoli home: tipografia
.home-header .box-rettangolo-4
  color: bianco

  .date
    margin: 10px
    float: right
    font-size: 15px
    color: grigio-intermedio
    font-family: 'Montserrat', sans-serif
    font-weight: 700

  a
    width: auto
    display: inline-block
    clear: both
    margin: 10px 5px
    font-size: 18px
    line-height: 35px
    color: bianco
    font-family: 'Montserrat', sans-serif
    font-weight: 400

    &::before
      width: 35px
      height: 35px
      margin: 0
      margin-right: 10px
      padding: 0
      display: block
      content: ' '
      float: left
      background-position: center
      background-repeat: no-repeat
      background-size: contain

.home-header .box-rettangolo-4.prossimamente
  a
    position: relative
    top: 15px
    color: grigio-medio

// Elementi-loppure -> Rettagoli home: colori e icone

// Elementi-loppure -> Rettagoli home: Gusti della terra
.home-header .gusti-della-terra
  background-color: color-gusti-della-terra

  a::before
    background-image: img-gusti-della-terra-bianco

// Elementi-loppure -> Rettagoli home: voli sul territorio
.home-header .voli-sul-territorio
  background-color: color-voli-sul-territorio

  a::before
    background-image: img-voli-sul-territorio-bianco

// Elementi-loppure -> Rettagoli home: radici nel tempo
.home-header .radici-nel-tempo
  background-color: color-radici-nel-tempo

  a::before
    background-image: img-radici-nel-tempo-bianco

// Elementi-loppure -> Rettagoli home: a parole nostre
.home-header .parole-nostre
  background-color: color-parole-nostre

  a::before
    background-image: img-parole-nostre-bianco

// Elementi-loppure -> Rettagoli home: pausa caffe
.home-header .pausa-caffe
  background-color: color-pausa-caffe

  a::before
    background-image: img-pausa-caffe-bianco

// Elementi-loppure -> Rettagoli home: pensieri tra le pagine
.home-header .pensieri-tra-le-pagine
  background-color: color-pensieri-tra-le-pagine

  a::before
    background-image: img-pensieri-tra-le-pagine-bianco

// Elementi-loppure -> Rettagoli home:  prossimamente
.home-header .prossimamente
  background-color: colore-loppure

  a::before
    display: none

// Elementi-loppure -> Rettagoli home: gusti-della-terra Hover
.home-header div:hover.gusti-della-terra
  background-color: bianco
  box-shadow: ombra-box-gusti-della-terra

  a::before
    background-image: img-gusti-della-terra

.home-header div:hover.gusti-della-terra a
  color: color-gusti-della-terra

  &:hover, &:active, &:focus
    color: color-gusti-della-terra

// Elementi-loppure -> Rettagoli home: voli-sul-territorio Hover
.home-header div:hover.voli-sul-territorio
  background-color: bianco
  box-shadow: ombra-box-voli-sul-territorio

  a::before
    background-image: img-voli-sul-territorio

.home-header div:hover.voli-sul-territorio a
  color: color-voli-sul-territorio

  &:hover, &:active, &:focus
    color: color-voli-sul-territorio

// Elementi-loppure -> Rettagoli home: radici-nel-tempo Hover
.home-header div:hover.radici-nel-tempo
  background-color: bianco
  box-shadow: ombra-box-radici-nel-tempo

  a::before
    background-image: img-radici-nel-tempo

.home-header div:hover.radici-nel-tempo a
  color: color-radici-nel-tempo

  &:hover, &:active, &:focus
    color: color-radici-nel-tempo

// Elementi-loppure -> Rettagoli home: parole-nostre Hover
.home-header div:hover.parole-nostre
  background-color: bianco
  box-shadow: ombra-box-parole-nostre

  a::before
    background-image: img-parole-nostre

.home-header div:hover.parole-nostre a
  color: color-parole-nostre

  &:hover, &:active, &:focus
    color: color-parole-nostre

// Elementi-loppure -> Rettagoli home: pausa-caffe Hover
.home-header div:hover.pausa-caffe
  background-color: bianco
  box-shadow: ombra-box-pausa-caffe

  a::before
    background-image: img-pausa-caffe

.home-header div:hover.pausa-caffe a
  color: color-pausa-caffe

  &:hover, &:active, &:focus
    color: color-pausa-caffe

// Elementi-loppure -> Rettagoli home: pensieri-tra-le-pagine Hover
.home-header div:hover.pensieri-tra-le-pagine
  background-color: bianco
  box-shadow: ombra-box-pensieri-tra-le-pagine

  a::before
    background-image: img-pensieri-tra-le-pagine

.home-header div:hover.pensieri-tra-le-pagine a
  color: color-pensieri-tra-le-pagine

  &:hover, &:active, &:focus
    color: color-pensieri-tra-le-pagine

// Elementi-loppure -> Rettagoli home: prossimamente Hover
.home-header div:hover.prossimamente
  background: none
  background-color: colore-loppure
  box-shadow: none

.home-header div:hover.prossimamente a
  color: #fff

  &:hover, &:active, &:focus
    color: #fff

// Elementi-loppure -> Rettagoli home: progetti Hover


// Elementi-loppure -> Rettagoli home: reportage Hover
