.home-header nav
  display: block
  text-align: center


// Elementi-loppure -> Rettagoli home
// Elementi-loppure -> Rettagoli home: Scheletro
.home-header .box-rettangolo-4
  display: inline-block

  width: 23%
  margin: 2px
  height: 90px
  overflow: hidden
  padding 5px 7px
  background-color: red
  text-decoration none
  color: bianco

  @media (max-width: max)
    width: 22.5%

  @media (max-width: medium)
    width: 22%

  @media (max-width: mini-tablet)
    width: 45%

  @media (max-width: min-smartphone)
    width: 90%
    height: 80px
    margin: 0 auto
    display: block
    margin-bottom: 5px
    text-align: center

  &::before
    content: ' '
    display: block
    width: 35px
    height: 35px
    margin: 0
    margin-right: 10px
    padding: 0
    background-position: center
    background-repeat: no-repeat
    background-size: 100%

    @media (max-width: min-smartphone)
      height: 80px
      float: left

  a
    display: block
    width: auto
    float: left
    clear: both
    margin: 10px auto
    margin-top: 30px
    font-size: 18px
    line-height: 19px
    text-align: left
    color: bianco
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    text-decoration: none;

    @media (max-width: min-smartphone)
      clear: none
      font-size: 23px
      line-height: 22px


    @media (max-width: min)
      font-size: 18px
      line-height: 19px

.home-header .box-rettangolo-4.prossimamente
  a
    @media (max-width: min-smartphone)
      float: none

  &::before
    content: 'prossimamente'
    display: block
    width: auto
    height: 35px
    float: left
    text-align: center


// Elementi-loppure -> Rettagoli home: colori e icone

// Elementi-loppure -> Rettagoli home: Gusti della terra
.home-header .gusti-della-terra
  background-color: color-gusti-della-terra

  &::before
    background-image: img-gusti-della-terra-bianco

  &:hover
    background-color: bianco
    box-shadow: ombra-box-gusti-della-terra

    a
      color: color-gusti-della-terra

    &::before
      background-image: img-gusti-della-terra


// Elementi-loppure -> Rettagoli home: voli sul territorio
.home-header .voli-sul-territorio
  background-color: color-voli-sul-territorio

  &::before
    background-image: img-voli-sul-territorio-bianco

  &:hover
    background-color: bianco
    box-shadow: ombra-box-voli-sul-territorio
    a
      color: color-voli-sul-territorio

    &::before
      background-image: img-voli-sul-territorio

// Elementi-loppure -> Rettagoli home: radici nel tempo
.home-header .radici-nel-tempo
  background-color: color-radici-nel-tempo

  &::before
    background-image: img-radici-nel-tempo-bianco

  &:hover
    background-color: bianco
    box-shadow: ombra-box-radici-nel-tempo

    a
      color: color-radici-nel-tempo

    &::before
      background-image: img-radici-nel-tempo

// Elementi-loppure -> Rettagoli home: a parole nostre
//.home-header .parole-nostre
//  background-color: color-parole-nostre

//  &::before
//    background-image: img-parole-nostre-bianco

// Elementi-loppure -> Rettagoli home: pausa caffe
.home-header .pausa-caffe
  background-color: color-pausa-caffe

  &::before
    background-image: img-pausa-caffe-bianco

  &:hover
    background-color: bianco
    box-shadow: ombra-box-pausa-caffe

    a
      color: color-pausa-caffe

    &::before
      background-image: img-pausa-caffe

// Elementi-loppure -> Rettagoli home: pensieri tra le pagine
.home-header .pensieri-tra-le-pagine
  background-color: color-pensieri-tra-le-pagine

  &::before
    background-image: img-pensieri-tra-le-pagine-bianco

  &:hover
    background-color: bianco
    box-shadow: ombra-box-pensieri-tra-le-pagine

    a
      color: color-pensieri-tra-le-pagine

    &::before
      background-image: img-pensieri-tra-le-pagine

// Elementi-loppure -> Rettagoli home:  prossimamente
.home-header .prossimamente
  background-color: colore-loppure

  &::before
    display: none

// Elementi-loppure -> Rettagoli home: parole-nostre Hover
//.home-header div:hover.parole-nostre
//  background-color: bianco
//  box-shadow: ombra-box-parole-nostre

//  a::before
//    background-image: img-parole-nostre

//.home-header div:hover.parole-nostre a
//  color: color-parole-nostre

//  &:hover, &:active, &:focus
//    color: color-parole-nostre

// Elementi-loppure -> Rettagoli home: prossimamente Hover
.home-header div:hover.prossimamente
  background: none
  background-color: colore-loppure
  box-shadow: none

.home-header div:hover.prossimamente a
  color: #fff

  &:hover, &:active, &:focus
    color: #fff
