// Elementi-loppure -> Rettagoli home
// Elementi-loppure -> Rettagoli home: Scheletro
.home-header .box-rettangolo-4
  col(3)
  height: 100px
  margin-bottom: 10px
  background-color: red

  @media (max-width: tablet)
    height: 100px

  @media (max-width: medium)
    height: 100px

  @media (max-width: mini-tablet)
    height: 100px
    margin-bottom: 5px

  @media (max-width: smartphone)
    col(6)
    margin-bottom: 5px
    height: 120px

// Elementi-loppure -> Rettagoli home: colori e icone

.home-header .gusti-della-terra
  background-color: color-gusti-della-terra
  background-image: img-gusti-della-terra
  background-size: 15%

.home-header .voli-sul-territorio
  background-color: color-voli-sul-territorio
  background-image: img-voli-sul-territorio
  background-size: 25%

.home-header .radici-nel-tempo
  background-color: color-radici-nel-tempo
  background-image: img-radici-nel-tempo
  background-size: 25%

.home-header .parole-nostre
  background-color: color-parole-nostre
  background-image: img-parole-nostre
  background-size: 25%

.home-header .pausa-caffe
  background-color: color-pausa-caffe
  background-image: img-pausa-caffe
  background-size: 20%

.home-header .pensieri-tra-le-pagine
  background-color: color-pensieri-tra-le-pagine
  background-image: img-pensieri-tra-le-pagine
  background-size: 20%

.home-header .reportage
  background-color: color-reportage

.home-header .progetti
  background-color: color-progetti
  background-image: img-progetti
  background-size: 25%

// Elementi-loppure -> Rettagoli home: gusti-della-terra Hover
.home-header div:hover.gusti-della-terra
  background-color: bianco
  box-shadow: ombra-gusti-della-terra

.home-header div:hover.gusti-della-terra a
  color: color-gusti-della-terra

  &:hover, &:active, &:focus
    color: color-gusti-della-terra

// Elementi-loppure -> Rettagoli home: voli-sul-territorio Hover
.home-header div:hover.voli-sul-territorio
  background-color: bianco
  box-shadow: ombra-voli-sul-territorio

.home-header div:hover.voli-sul-territorio a
  color: color-voli-sul-territorio

  &:hover, &:active, &:focus
    color: color-voli-sul-territorio

// Elementi-loppure -> Rettagoli home: radici-nel-tempo Hover
.home-header div:hover.radici-nel-tempo
  background-color: bianco
  box-shadow: ombra-radici-nel-tempo

.home-header div:hover.radici-nel-tempo a
  color: color-radici-nel-tempo

  &:hover, &:active, &:focus
    color: color-radici-nel-tempo

// Elementi-loppure -> Rettagoli home: parole-nostre Hover
.home-header div:hover.parole-nostre
  background-color: bianco
  box-shadow: ombra-parole-nostre

.home-header div:hover.parole-nostre a
  color: color-parole-nostre

  &:hover, &:active, &:focus
    color: color-parole-nostre

// Elementi-loppure -> Rettagoli home: pausa-caffe Hover
.home-header div:hover.pausa-caffe
  background-color: bianco
  box-shadow: ombra-pausa-caffe

.home-header div:hover.pausa-caffe a
  color: color-pausa-caffe

  &:hover, &:active, &:focus
    color: color-pausa-caffe

// Elementi-loppure -> Rettagoli home: pensieri-tra-le-pagine Hover
.home-header div:hover.pensieri-tra-le-pagine
  background-color: bianco
  box-shadow: ombra-pensieri-tra-le-pagine

.home-header div:hover.pensieri-tra-le-pagine a
  color: color-pensieri-tra-le-pagine

  &:hover, &:active, &:focus
    color: color-pensieri-tra-le-pagine

// Elementi-loppure -> Rettagoli home: progetti Hover
.home-header div:hover.progetti
  background-color: bianco
  box-shadow: ombra-progetti

.home-header div:hover.progetti a
  color: color-progetti

  &:hover, &:active, &:focus
    color: color-progetti

// Elementi-loppure -> Rettagoli home: reportage Hover
.home-header div:hover.reportage
  background-color: bianco
  box-shadow: ombra-reportage

.home-header div:hover.reportage a
  color: color-reportage

  &:hover, &:active, &:focus
    color: color-reportage

// Elementi-loppure -> Rettagoli home: tipografia
