/* taxonomy -> Citta - Header*/
.header-taxonomy-citta
  height: auto
  overflow: hidden
  padding: 0
  margin: 0 auto
  background-color: colore-loppure

  .img-header
    height: 350px
    overflow: hidden
    padding: 0
    margin: 0
    background-color: red

/* taxonomy -> Citta - Content post*/
.content-post-citta
  margin-top: 0;
