//////////standard

.logo-standard{
		@include background_svg( 'logo-page' );
		background-size: 113%;
}
.img-header {
	background-image: url(img/copertine/page-standard.jpg);
}

.loppure_image {
	.img-article-post{
		@include background_svg( 'icon-post-img-piccola' );
	}
}

.post{
	.img-article-post{
		@include background_svg( 'icon-articolo-piccola' );
	}
}

.term-pnlegge {
	.cerchio-logo-page {
		background-image: url(img/pordenonelegge.jpg);
		background-size: 100%;
	}
	.barra-nome-pagina {
		background-color: $color-pordenonelegge;
		h1 {
			color: black;
		}
	}
}

.term-pordenone{
	.cerchio-logo-page {
		@include background_svg( 'logo-pordenone' );
	}
	.barra-nome-pagina {
		background-color: $color-pordenone;
	}

	.site-header.headroom--not-top{
		border-bottom: 5px solid $color-pordenone;
		.cerchio-logo{
			border: 5px solid $color-pordenone;
	}
}
}


.term-udine {
	.cerchio-logo-page {
		@include background_svg( 'logo-udine' );
	}
	.barra-nome-pagina {
		background-color: $color-udine;
	}
	.site-header.headroom--not-top{
		border-bottom: 5px solid $color-udine;
		.cerchio-logo{
			border: 5px solid $color-udine;
	}
}
}


.category-friuli-eat {
	.cicle-color-category-post {
		background-color: $color-friul-eat;
	}
	.img-category-post.friuli-eat {
		@include background_svg( 'Friuli-eat-piccola' );
		@extend .cicle-color-category-post;
	}
	.cerchio-logo-page{
		@include background_svg( 'Friuli-eat-grande' );
		@extend .cicle-color-category-post;
	}
	.site-header.headroom--not-top{
		border-bottom: 5px solid $color-friul-eat;
		.cerchio-logo{
			border: 5px solid $color-friul-eat;
	}
}
////border card
	 .footer-card{
		 border-color: $color-friul-eat;
	 }

}
///last article
.cerchio-friuli-eat{
	@include background_svg( 'Friuli-eat-piccola' );
	background-color: $color-friul-eat;
}

.category-book-life{
	.cicle-color-category-post {
		background-color: $color-book-life;
	}
	.img-category-post.book-life {
		@include background_svg( 'book-life-piccola' );
		@extend .cicle-color-category-post;
	}
	.cerchio-logo-page{
		@include background_svg( 'book-life-grande' );
		@extend .cicle-color-category-post;
	}

	.site-header.headroom--not-top{
		border-bottom: 5px solid $color-book-life;
		.cerchio-logo{
			border: 5px solid $color-book-life;
	}
}
////border card
	 .footer-card{
		 border-color: $color-book-life;
	 }
}

///last article
.cerchio-book-life{
	@include background_svg( 'book-life-piccola' );
	background-color: $color-book-life;
}

.category-voli-sul-territorio {
	.cicle-color-category-post{
		background-color: $color-voli-territorio;
	}
	.img-category-post.voli-sul-territorio {
		@include background_svg( 'voli-territorio-piccola' );
		@extend .cicle-color-category-post;
	}
	.cerchio-logo-page{
		@include background_svg( 'voli-territorio-grande' );
		@extend .cicle-color-category-post;
	}
	.site-header.headroom--not-top{
		border-bottom: 5px solid $color-voli-territorio;
		.cerchio-logo{
			border: 5px solid $color-voli-territorio;
	}
}
////border card
	 .footer-card{
		 border-color: $color-voli-territorio;
	 }
}
///last article
.cerchio-voli-sul-territorio{
	@include background_svg( 'voli-territorio-piccola' );
	background-color: $color-voli-territorio;
}

.category-pausa-caffe {
	.cicle-color-category-post {
		background-color: $color-pausa-caffe;
	}
	.img-category-post.pausa-caffe {
		@include background_svg( 'paussa-caffe-piccola' );
		@extend .cicle-color-category-post;
	}
	.cerchio-logo-page{
		@include background_svg( 'paussa-caffe-grande' );
		@extend .cicle-color-category-post;
	}
	.site-header.headroom--not-top{
		border-bottom: 5px solid $color-pausa-caffe;
		.cerchio-logo{
			border: 5px solid $color-pausa-caffe;
	}
}
////border card
	 .footer-card{
		 border-color: $color-pausa-caffe;
	 }
}
///last article
.cerchio-pausa-caffe{
	@include background_svg( 'paussa-caffe-piccola' );
	background-color: $color-pausa-caffe;
}

.category-cultura {
	.cicle-color-category-post {
		background-color: $color-cultura;
	}
	.img-category-post.cultura {
		@include background_svg( 'icon-cultura-piccola' );
		@extend .cicle-color-category-post;
	}
	.cerchio-logo-page{
		@include background_svg( 'icon-cultura-grande' );
		@extend .cicle-color-category-post;
	}
	.site-header.headroom--not-top{
		border-bottom: 5px solid $color-cultura;
		.cerchio-logo{
			border: 5px solid $color-cultura;
	}
}
////border card
	 .footer-card{
		 border-color: $color-cultura;
	 }
}
///last article
.cerchio-cultura{
	@include background_svg( 'icon-cultura-piccola' );
	background-color: $color-cultura;
}

.category-storia {
	.cicle-color-category-post {
		background-color: $color-storia;
	}
	.img-category-post.storia {
		@include background_svg( 'storia-piccola' );
		@extend .cicle-color-category-post;
	}
	.cerchio-logo-page{
		@include background_svg( 'storia-grande' );
		@extend .cicle-color-category-post;
	}
	.site-header.headroom--not-top{
		border-bottom: 5px solid $color-storia;
		.cerchio-logo{
			border: 5px solid $color-storia;
	}
}
////border card
	 .footer-card{
		 border-color: $color-storia;
	 }
}
///last article
.cerchio-storia{
	@include background_svg( 'storia-piccola' );
	background-color: $color-storia;
}

.category-eventi {
	.cicle-color-category-post {
		background-color: $color-eventi;
	}
	.img-category-post.eventi {
		@include background_svg( 'icon-eventi-piccola' );
		@extend .cicle-color-category-post;
	}
	.cerchio-logo-page{
		@include background_svg( 'icon-eventi-piccola' );
		@extend .cicle-color-category-post;
	}
	.site-header.headroom--not-top{
		border-bottom: 5px solid $color-eventi;
		.cerchio-logo{
			border: 5px solid $color-eventi;
	}
}
////border card
	 .footer-card{
		 border-color: $color-eventi;
	 }
}
///last article
.cerchio-eventi{
	@include background_svg( 'icon-eventi-piccola' );
	background-color: $color-eventi;
}

.section-cont-article {
	.category-pordenonelegge {
		.cicle-color-category-post {
			background-color: $color-pordenonelegge;
		}

		header {
			.img-category-post {
				@extend .cicle-color-category-post;

				background: {
					image: url(img/pordenonelegge-icon.jpg);
					size: 95%;
					position: 50% 48%;
				}
			}
		}
	}
}

.category-pordenonelegge {
	.cerchio-logo-page {
		background-image: url(img/pordenonelegge.jpg);
		background-size: 100%;
	}
}

///last article
.cerchio-pordenonelegge{
	background-image: url(img/pordenonelegge-icon.jpg);
	background-color: $color-pordenonelegge;
}
///////////////// WIDGET /////////////////
.img-pordenon {
	@include background_svg( 'pordenon' );
}

.timeline {
	.img-rubriche, .img-time-pnlegge {
		@include background_svg( 'time-line-piccola' );
		background-size: 75%;
	}
}

.widget-rubriche{
	.img-rubriche{
		@include background_svg( 'rubriche-piccola' );
		background-size: 75%;
	}
}
.img-cosa-facciamo{
	@include background_svg( 'conoscici_icona' );
}

.img-sezioni{
	@include background_svg( 'sezioni_icon' );
	background-size: 120%;
	background-position: 50% -4%;
}

///////////////////////PAGINE///////////////////////////


/////////////chi siamo////
.logo-presentazione{
	@include background_svg( 'logo-loppure' );
}
.logo-team{
	@include background_svg( 'icon-team' );
}


.logo-cookie{
		@include background_svg( 'icon-coookie' );
}

.img-chi_siamo{
	background-image: url(img/copertine/chi-siamo.png);
}
.logo-chi_siamo{
	@include background_svg( 'chi_siamo_icon' );
	background-size: 110%;
}
.chi_siamo-presentazione {
	.logo-presentazione {
		@include background_svg( 'rubriche-piccola' );
		background: {
			size: 75%;
			repeat: no-repeat;
			position: center;
		}
	}
}

.chi_siamo-team {
	.logo-team {
		@include background_svg( 'icon-team' );
		background: {
			size: 75%;
			repeat: no-repeat;
			position: center;
		}
	}
}

.chi_siamo-cookie {
	.logo-cookie {
		@include background_svg( 'icon-coookie' );
		background: {
			size: 75%;
			repeat: no-repeat;
			position: center;
		}
	}
}

//////////////////////////////////TEAM///////////////////////////////

.img-team{
	background-image: url(img/copertine/Team.jpg);
}
.logo-team-presentazione{
	@include background_svg( 'icon-autori' );
}
//team
.spoiler{
	.pordenone{
		border-bottom: 2px solid $color-pordenone;
	}
}

//team
.spoiler{
	.udine{
		border-bottom: 2px solid $color-udine;
	}
}

////////////////contatti
.img-contatti {
	background-image: url(img/copertine/contatti.jpg);
}

.logo-contatti{
	@include background_svg( 'contatti_icon' );
	background-position: 40% 60%;
}

.logo-phone{
	@include background_svg( 'phone' );
	background: {
		size: 85%;
		repeat: no-repeat;
		position: center;
	}
}

.logo-mail{
	@include background_svg( 'icon-mail' );
	background: {
		size: 75%;
		repeat: no-repeat;
		position: center;
	}
}

////////////////////////facciamo/////////////////
.logo-faccamo{
	@include background_svg( 'conoscici_icona' );
}
.logo-lavoro-facciamo{
	@include background_svg( 'work' );
	    background-size: 70%;
}

.logo-obbietivi-facciamo{
	@include background_svg( 'obbiettivi' );
}

////////////////////////////////sostienici////////////////
.logo-sostienici{
		@include background_svg( 'logo-sostienici-piccola' );
}

//////////////////iniziative////////////////
.pordenon{
	@include background_svg( 'icon-pordenon' );
	background-size: 70%;
}

//////////////////////////////footer
.elenco-social{
	.facebook{
		@include background_svg( 'icon-facebook-dark' );
	}
	.instagram{
		@include background_svg( 'icon-instagram-dark' );
		background-size: 72%;
	}
	.Twitter{
		@include background_svg( 'icon-twitter-dark' );
	}
}



/////////////////categorie/////////////////


.category-friuli-eat{
	.entry-header{
		border-bottom: 4px solid $color-friul-eat;
	}
	.header-category{
		background-image: url(img/copertine/friuli-eat.jpg);

	}
}

.category-voli-sul-territorio{
	.entry-header{
	border-bottom: 4px solid $color-voli-territorio;
}
.header-category{
	background-image: url(img/copertine/voli.jpg);

}
}

.category-storia{
	.entry-header{
	border-bottom: 4px solid $color-storia;
}
.header-category{
	background-image: url(img/copertine/storia.jpg);

}
}

.category-cultura{
	.entry-header{
	border-bottom: 4px solid $color-cultura;
}
.header-category{
	background-image: url(img/copertine/cultura.jpg);

}
}

.category-eventi{
	.entry-header{
	border-bottom: 4px solid $color-eventi;
}
.header-category{
	background-image: url(img/copertine/eventi.jpg);

}
}

.category-book-life{
	.entry-header{
	border-bottom: 4px solid $color-book-life;
}
.header-category{
	background-image: url(img/copertine/book-life.jpg);

}
}
.category-pausa-caffe{
	.entry-header{
	border-bottom: 4px solid $color-pausa-caffe;
}
}
