@import "kouto-swiss"

// Questo file viene caricato solo sui desktop

meyer-reset()

//Generale
@import "variabili"

//Tipografia
@import "tipografia"

//struttura
@import "scheletro"

//Taxonomy
@import "taxonomy/citta"

//Page
@import "page"
@import "error404"

//Archive
@import "archive"

//header
@import "header"
@import "menu"

//elementi
@import "elementi/assistent-views"
@import "elementi/button-interativi"
@import "elementi/button"
@import "elementi/card"
@import "elementi/elementi-geometrici"
@import "elementi/button-like"
@import "elementi/overlay"
@import "elementi/list-social"


//elementi-loppure
@import "elementi-loppure/control-home"
@import "elementi-loppure/control-navigation"
@import "elementi-loppure/rettangoli-home"
@import "elementi-loppure/elementi-geometrici-team"


//sidebar
@import "sidebar"

//single
@import "single"

//widget
@import "widget"

//footer
@import "footer"

// colori e icone
@import "colori-icone/categorie"
@import "colori-icone/citta"
@import "colori-icone/icone"
@import "colori-icone/pagine"
