// Archive

// Archive - Categoria: header
header.header-category
  height: 250px
  overflow: hidden
  background-color: colore-loppure

  h1
    text-align: center
    color: bianco

    &::before
      width:100px
      height: 100px
      content: ' '
      display: block
      margin: 20px auto
      margin-top: 50px;
      border-radius: 50%
      background-color: bianco

// Archive - Categoria: Header Color

.category-gusti-della-terra header.header-category
  background-color: color-gusti-della-terra

.category-voli-sul-terriotorio header.header-category
  background-color: color-voli-sul-territorio

.category-radici-nel-tempo header.header-category
  background-color: color-radici-nel-tempo

.category-parole-nostre header.header-category
  background-color: color-parole-nostre

.category-pausa-caffe header.header-category
  background-color: color-pausa-caffe

.category-pensieri-tra-le-pagine header.header-category
  background-color: color-pensieri-tra-le-pagine

// Archive - Categoria: page
.page-category
  margin: 0 auto


// Archive - Autore: header

.header-author
  height: auto
  overflow: hidden
  background-color: bianco

  img
    width: 100px
    height: 100px
    margin: 20px auto
    display: block
    border-radius: 50%

  h1
    text-align: center

.section-author
  margin: 0 auto

.post-author
  col(12)
