// Archive

// Archive - Categoria: header
header.header-category
  height: 250px
  overflow: hidden
  background-color: colore-loppure

  h1
    text-align: center
    color: bianco
    font-size: 30px
    font-weight: 700
    margin: 0 auto

    &::before
      width:100px
      height: 100px
      content: ' '
      display: block
      margin: 10px auto
      margin-top: 50px;
      border-radius: 50%
      background-color: bianco
      background-size: 80px
      background-repeat: no-repeat
      background-position: center

  .info
    display: inline-block
    float: right
    padding: 5px 7px
    border 2px solid bianco
    border-radius: 10px
    font-size: 16px
    color: bianco

    &::before
      width: 15px
      height: 15px
      content: ' '
      display: block
      margin: 5px auto
      margin-right: 10px
      float: left
      background-color: bianco

    &:visited
      color: colore-loppure

    &:hover, &:focus, &:active
      color: colore-loppure
      background-color: bianco

      &::before
        background-color: colore-loppure


// Archive - Categoria: Header Color

.category-gusti-della-terra header.header-category
  background-color: color-gusti-della-terra

  //Icona header categoria
  h1::before
    background-image: img-gusti-della-terra

  // Archive - Categoria: Header Color
  .info

    &:hover, &:focus, &:active
      color: color-gusti-della-terra

      &::before
        background-color: color-gusti-della-terra

.category-voli-sul-territorio header.header-category
  background-color: color-voli-sul-territorio

  //Icona header categoria
  h1::before
    background-image: img-voli-sul-territorio

  // Archive - Categoria: Header Color
  .info

    &:hover, &:focus, &:active
      color: color-voli-sul-territorio

      &::before
        background-color: color-voli-sul-territorio

.category-radici-nel-tempo header.header-category
  background-color: color-radici-nel-tempo

  //Icona header categoria
  h1::before
    background-image: img-radici-nel-tempo

  // Archive - Categoria: Header Color
  .info

    &:hover, &:focus, &:active
      color: color-radici-nel-tempo

      &::before
        background-color: color-radici-nel-tempo

.category-parole-nostre header.header-category
  background-color: color-parole-nostre

  //Icona header categoria
  h1::before
    background-image: img-parole-nostre

  //Archive - Categoria: Header Color
  .info

    &:hover, &:focus, &:active
      color: color-parole-nostre

      &::before
        background-color: color-parole-nostre

.category-pausa-caffe header.header-category
  background-color: color-pausa-caffe

  //Icona header categoria
  h1::before
    background-image: img-pausa-caffe

  //Archive - categoria: Header Color
  .info

    &:hover, &:focus, &:active
      color: color-pausa-caffe

      &::before
        background-color: color-pausa-caffe

.category-pensieri-tra-le-pagine header.header-category
  background-color: color-pensieri-tra-le-pagine

  //Icona header categoria
  h1::before
    background-image: img-pensieri-tra-le-pagine

  //Archive - categoria: header Color
  .info

    &:hover, &:focus, &:active
      color: color-pensieri-tra-le-pagine

      &::before
        background-color: color-pensieri-tra-le-pagine

// Archive - Categoria: page
.page-category
  margin: 0 auto


// Archive - Autore: header

.header-author
  height: auto
  overflow: hidden
  background-color: bianco

  img
    width: 100px
    height: 100px
    margin: 20px auto
    display: block
    border-radius: 50%

  h1
    text-align: center
    font-size: 18px
    font-weight: 700

    a
      text-decoration: none

  .author-bio
    width: 720px
    height: auto
    display: block
    margin: 15px auto
    text-align: justify

    @media (max-width: medium)
      width: 80%
      text-align: left

    @media (max-width: smartphone)
      width: 100%


.section-author
  margin: 0 auto

  .section-cont-article
    width: 100%
    height: auto
    hidden: overflow
    display: block
    margin: 20px auto
    text-align: center

    article
      display: inline-block
      margin: 5px
