/* commenti*/

/* capire che parte è*/
.button-comments, .add-comment
  font-size: 16px
  padding: 2px 11px
  text-transform: lowercase
  color: rgba(0, 0, 0, 0.5)

  @media (max-width: 799px)
    font-size: 18px
    padding: 4px 13px

.button-comments:hover, .add-comment:hover
  color: #40484C

.section-cont-article .comment-form, .form-nested .comment-form
  margin-top: 10px

.section-cont-article .comment-form p, .form-nested .comment-form p
  margin: 0 auto
  margin-bottom: 7px
  @media (max-width: 519px)
  .section-cont-article .comment-form p, .form-nested .comment-form p
    font-size: 15px

.section-cont-article .comment-form textarea, .form-nested .comment-form textarea
  max-height: 100px

.section-cont-article .comment-form input[type="date"],
.section-cont-article .comment-form input[type="datetime"],
.section-cont-article .comment-form input[type="datetime-local"],
.section-cont-article .comment-form input[type="email"],
.section-cont-article .comment-form input[type="text"], .section-cont-article .comment-form textarea,
.section-cont-article .comment-form select[multiple=multiple],
.section-cont-article .comment-form textarea, .form-nested .comment-form input[type="date"],
.form-nested .comment-form input[type="datetime"],
.form-nested .comment-form input[type="datetime-local"],
.form-nested .comment-form input[type="email"],
.form-nested .comment-form input[type="text"], .form-nested .comment-form textarea,
.form-nested .comment-form select[multiple=multiple],
.form-nested .comment-form textarea
  padding: 3px 7px
  font-size: 15px
  margin: 0

  @media (max-width: 519px)
    padding: 5px 10px
    font-size: 16px
    margin: 2px 0

.section-cont-article .comment-form .comment-notes, .form-nested .comment-form .comment-notes
  font-size: 13px
  color: rgba(0, 0, 0, 0.5)

.section-cont-article .comment-form .status, .form-nested .comment-form .status
  font-size: 14px
  margin-bottom: 20px

.section-cont-article .comment-form .submit, .form-nested .comment-form .submit
  padding: 4px 10px
  font-size: 16px
  letter-spacing: 0.5px

  @media (max-width: 519px)
    font-size: 17px
    letter-spacing: 0

.section-cont-article .comments-wrapper .close_comments, .form-nested .comments-wrapper .close_comments
  position: absolute
  top: 0
  right: 15px
  position: absolute
  border-radius: 50%
  border: 1px solid rgba(0, 0, 0, 0.5)
  background-size: 80%
  background-position: center
  background-repeat: no-repeat
  height: 25px
  width: 25px
  cursor: pointer
  background-image: url("../../src/img/icone-generiche/close-nero.svg")
  background-repeat: no-repeat
  background-position: center
  background-size: 60%

  &:visited
    background-image: url("../../src/img/icone-generiche/close-nero.svg")

  &:hover, &:active, &:focus
    background-image: url("../../src/img/icone-generiche/close-bianco.svg")


.section-cont-article .comments-wrapper header.vcard.author.entry-title, .form-nested .comments-wrapper header.vcard.author.entry-title
  margin: 0
  padding: 0

.section-cont-article .comments-wrapper header.vcard.author.entry-title h3, .form-nested .comments-wrapper header.vcard.author.entry-title h3
  margin: 0
  font-size: 16px
  color: #40484C

.section-cont-article .comments-wrapper article, .form-nested .comments-wrapper article
  padding: 10px 20px
  margin: 0 auto
  border-bottom: 4px solid #DDDDDD
  cursor: default

.section-cont-article .comments-wrapper .comment-body, .form-nested .comments-wrapper .comment-body
  border-bottom: 2px solid #DDDDDD
  margin-bottom: 15px

.section-cont-article .comments-wrapper .comment-body p, .form-nested .comments-wrapper .comment-body p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5)

.section-cont-article .comments-wrapper .rispondi, .form-nested .comments-wrapper .rispondi
  clear: both
  padding: 10px 0

.section-cont-article .comments-wrapper .reply-anchor, .section-cont-article .comments-wrapper .close, .section-cont-article .comments-wrapper .show_responses, .form-nested .comments-wrapper .reply-anchor, .form-nested .comments-wrapper .close, .form-nested .comments-wrapper .show_responses
  margin: 0 5px
  padding: 1px 7px
  float: left
  font-style: normal
  font-size: 16px
  text-transform: lowercase
  color: rgba(0, 0, 0, 0.5)
  border: 1px solid rgba(0, 0, 0, 0.5)
  border-radius: 10px
  background: none

.section-cont-article .comments-wrapper .reply-anchor:hover, .section-cont-article .comments-wrapper .close:hover, .section-cont-article .comments-wrapper .show_responses:hover, .form-nested .comments-wrapper .reply-anchor:hover, .form-nested .comments-wrapper .close:hover, .form-nested .comments-wrapper .show_responses:hover
  background-color: #DDDDDD
  border: 1px solid #DDDDDD

.section-cont-article .comments-wrapper .father .respond p, .form-nested .comments-wrapper .father .respond p {
  padding: 0

.section-cont-article .comments-wrapper .son, .form-nested .comments-wrapper .son
  width: 90%
  float: right
  padding-right: 0
  border: none
  border-left: 2px solid #DDDDDD

.section-cont-article .comments-wrapper .son article, .form-nested .comments-wrapper .son article
  margin: 0
  padding: 0

.section-cont-article .comments-wrapper .son .comment-body, .form-nested .comments-wrapper .son .comment-body
  margin-bottom: 5px

.section-cont-article .comments-wrapper .son .comment-body p, .form-nested .comments-wrapper .son .comment-body p
  margin-bottom: 5px

.section-cont-article .comments-wrapper .rispondi, .form-nested .comments-wrapper .rispondi
  clear: both
  padding: 10px 0
  height: 50px

.section-cont-article .comments-wrapper .rispondi p, .form-nested .comments-wrapper .rispondi p
  padding: 0
  margin: 0


/* aggiusta il footer delle card - temporaneo */
.post footer {
  height: auto !important;
}

button.add-comment {
  margin: 10px auto;
}

/*******************************************************************************
  INIZIO SEZIONE FIGA
*******************************************************************************/
.comments-wrapper
  position: relative
  max-height: 0px
  -webkit-transition: max-height, 1.1s cubic-bezier(0.1, 0.2, 0.32, 1.01)
  -moz-transition: max-height, 1.1s cubic-bezier(0.1, 0.2, 0.32, 1.01)
  transition: max-height, 1.1s cubic-bezier(0.1, 0.2, 0.32, 1.01)
  overflow: hidden

  .open
    max-height: 10000px
    -webkit-transition: max-height, 1s cubic-bezier(1, 0.05, 0.88, 0.99)
    -moz-transition: max-height, 1s cubic-bezier(1, 0.05, 0.88, 0.99)
    transition: max-height, 1s cubic-bezier(1, 0.05, 0.88, 0.99)

.show-hide-img
  height: 50px
  width: 50px
  margin: 0 auto
  border-radius: 50%
  border: 2px solid rgba(0, 0, 0, 0.5)
  padding: 5px
  background-image: url("img/svg/plus.svg")

.comments-area h3
  color: rgba(0, 0, 0, 0.5)
  font-weight: normal
  font-size: 18px

.comments-area p
  font-size: 16px

.comments-area .comments-show-hide
  margin: 0 auto
  display: block
  text-align: center
  margin-bottom: 15px

  h3
    margin-top: 10px

.comments-area .comments-wrapper
  width: 55%
  display: block
  margin: 0 auto
  margin-bottom: 30px

  @media (max-width: 719px)
    width: 80%

  @media (max-width: 349px)
    width: 95%

.comments-area .submit
  padding: 4px 10px
  font-size: 17px
  letter-spacing: 0.5px

  @media (max-width: 519px)
    font-size: 18px
    letter-spacing: 0

.comments-area .comment-notes
  font-size: 14px

.single .comment-form
  margin-top: 30px

.single .comment-notes
  font-size: 13px
  color: rgba(0, 0, 0, 0.5)

.single .status
  font-size: 14px
  margin-bottom: 20px

.comments-wrapper header.vcard.author.entry-title
  margin: 0
  padding: 0

  h3
    margin: 0
    font-size: 16px
    color: #40484C

.comments-wrapper article
  padding: 10px 20px
  margin: 0 auto
  border-bottom: 1px solid rgba(0, 0, 0, 0.5)

.comments-wrapper .comment-body
  border-bottom: 2px solid #DDDDDD
  margin-bottom: 15px
  p
    font-size: 15px
    padding: 0
    color: rgba(0, 0, 0, 0.5)

.comments-wrapper .reply-anchor, .comments-wrapper .close-anchor
  padding: 1px 5px
  font-style: normal
  font-size: 16px
  color: rgba(0, 0, 0, 0.5)
  border: 1px solid rgba(0, 0, 0, 0.5)
  border-radius: 10px
  background: none

  &:hover
    background-color: #DDDDDD
    border: 1px solid #DDDDDD

.comments-wrapper .son
  width: 90%
  float: right
  padding-right: 0
  border: none
  border-left: 2px solid #DDDDDD

  article
    margin: 0
    padding: 0

  .comment-body
    margin-bottom: 5px

    p
      margin-bottom: 5px

  .rispondi
    clear: both
    padding: 10px 0

    p
      padding: 0
      margin: 0
