/* error404*/
.error404
  background-color: #E53935

  section
    height: 100%

    .content-404
      width: 500px
      height: 500px
      margin: 40px auto
      display: block
      border: 2px solid #fff
      border-radius: 50%
      padding: 80px

      @media (max-width: 719px)
        width: 450px
        height: 450px
        padding: 60px

      @media (max-width: 519px)
        width: 350px
        height: 350px
        padding: 50px

      @media (max-width: 349px)
        width: 250px;
        height: 250px;
        padding: 30px 10px;

      h1
        font-family: 'robotothin' 'arial' sans-serif
        text-align: center
        font-size: 70px
        color: #fff
        line-height: 177px
        margin-bottom: 5px

        @media (max-width: 719px)
          font-size: 60px
          line-height: 150px

        @media (max-width: 519px)
          font-size: 40px
          line-height: 100px

        @media (max-width: 349px)
          font-size: 25px
          line-height: 75px

      h3
        font-family: "robotothin", "arial" sans-serif
        text-align: center
        font-size: 30px
        color: #fff
        margin-top: 7px

        @media (max-width: 719px)
          font-size: 27px
          margin-top: 17px

        @media (max-width: 519px)
          font-size: 24px
          margin-top: 10px

        @media (max-width: 349px)
          font-size: 20px
          margin-top: 8px

      button
        background: none
        border: 2px solid #fff
        color: #fff
        margin: 0 auto
        display: block
        margin-top: 50px

        @media (max-width: 349px)
          margin-top: 26px
