body.error404 .site-main
  background: none

.page-error-404
  width: 500px
  height: auto
  display: block
  margin: 70px auto
  padding: 20px
  background-color: red
  color: #fff
  text-align: center

  @media (max-width: smartphone)
    width: 95%
    margin: 30px auto
    padding: 10px

  h1
    display: block
    margin: 10px auto
    text-align: center
    font-size: 25px
    color: #fff

  .content-button
    background: none

  .button
    background: none
    color: #fff
    border: 2px solid #fff
    text-decoration: none

    &:visited
      background: none
      color: #fff
      border: 2px solid #fff
      text-decoration: none

    &:hover, &:active, &:focus
      background: #fff
      color: red
      border: 2px solid #fff
      text-decoration: none
