.site-footer
  display: block
  height: auto
  overflow:hidden
  padding: 2rem 1rem
  background-color: colore-loppure
  color: #fff
  font-size: 0.9rem

  .site-info
    max-width: 100%
    height: auto
    overflow: hidden
    display: block
    margin: 0 auto
    text-align: center

    @media (max-width: max)
      width: 90%

    @media (max-width: medium)
      width: 100%

  a
    color: grigio-intermedio
    border-bottom: .1rem solid colore-loppure

    &:hover
      color: grigio-intermedio
      border-bottom: .1rem solid grigio-intermedio

  p
    margin: 0 auto
    display: block
    font-size: 0.9rem
    color: #fff

  span
    font-size: 18px
    line-height: 18px

  h6
    font-size: 16px
    font-weight: 700
    margin: 5px auto
    margin-bottom: 15px

  .footer-documenti
    text-align: right

  .footer-contatti
    text-align: left

  .footer-liste
    ul
      margin: 10px auto
      display: block
      text-align: center

    li
      display: inline-block
      margin: 5px
      padding: 3px
      font-size: 0.8rem
      text-align: center
      border: 1px solid #fff
      border-radius: 5px

      &:hover
        background-color: #fff
        color: #000

        a
          color: #000

      a, & a:visited

        margin: 0 auto
        padding: 0
        text-decoration: none
        color #fff
        border: none

      a:focus, & a:active, & a:hover
        margin: 0 auto
        padding: 0
        text-decoration: none
        color #000
        border: none

/*col footer -footer */
.col-footer
  width: 24%
  height: 300px
  overflow: hidden
  display: inline-block
  padding: 1.5rem 1rem
  border-right: .12rem solid bianco

  &:last-child
    border: none

  @media (max-width: tablet)
    height: 350px

  @media (max-width: medium)
    width: 40%
    height: 300px
    overflow: hidden
    float: none
    padding: 0.5rem 1rem
    border: none

    &:nth-child(odd)
      padding-right: 2rem
      border-right: .12rem solid bianco

    &:nth-child(even)
      padding-left: 2rem

    &:nth-child(3)
      margin-top: 15px
      border: none
      border-top: .12rem solid bianco
      text-align: center

  @media (max-width: smartphone)
    width: 100%
    height: auto
    display: block
    margin: 0 auto
    padding: 0
    float: none
    clear: none
    text-align: center
    border: none
    border-bottom: .12rem solid bianco

    &:nth-child(odd)
      text-align: center
      clear: none
      padding: 0
      border-right: none

    &:nth-child(even)
      text-align: center
      padding: 0

    &:nth-child(3)
      border: none

/*Contatti */
ul.contatti-footer li
  margin: 10px auto
