//header -> site-branding e menu
header.site-header
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 45px
  padding: 0;
  background: #F7F7F7
  border-bottom: 2px solid colore-loppure
  transition: transform 0.3s ease, height 0.2s ease-out
  z-index: 9
  overflow: visible

  *
    overflow: visible


  button, a
    display: inline-block
    margin: 0 5px
    padding: 11px 5px
    border: none
    background: none
    color: colore-loppure
    font-size: 15px
    line-height: 25px
    font-weight: 400
    text-decoration: none
    border-radius: 0

    &::before
      display: block
      width: 20px
      height: 20px
      content: ' '
      margin-right: 5px
      float: left
      border: 1px solid colore-loppure

    &:hover, &:focus, &:active
      border: none
      color: bianco
      background-color: colore-loppure

      &::before
        border: 1px solid bianco


  .control-navigation-menu,
  .menu-classic
    width: 40%
    float: left
    display: block

  .site-branding
    width: 20%
    height: 75px
    float: left
    display: block

    .cerchio-logo
      width: 80px
      height: 80px
      display: block
      margin: 0 auto
      position: relative
      background: #F7F7F7
      border: 2px solid colore-loppure
      border-radius: 50%
      bottom: 56px

      a
        padding: 0
        margin: 0

        &::before
          display: none

      img
        height: 45px
        margin: 0 auto
        display: block
        position: relative
        z-index: 9
        top: 23px

    .nascondi-cerchio
      width: 100%
      height: 45px
      background: #F7F7F7
      position: relative
      z-index: 2

    @media (max-width: 519px)
      margin-left: -3%

  .slide--up
    @media (max-width: 519px)
      transform: translateY(-180%)

  .header-wrapper
    width: 90%
    max-width: 1200px
    margin: 0 auto
    height: 100%
    text-align: center

    @media (max-width: max)
      width: 90%
      max-width: 100%

    @media (max-width: medium)
      width: 95%
      max-width: 100%

    @media (max-width: min)
      width: 95%
      max-width: 100%
