/*Page - Home*/
.widget-sx
  width: 20%
  height: auto
  overflow: hidden
  display: block
  float: left
  margin-right: 0.5%

  @media (max-width: medium)
    width: 25%
    margin-right 1%

  @media (max-width: mini-tablet)
    width: 80%
    float: none
    display: block
    margin: 0 auto

  @media (max-width: smartphon)
    width: 90%

  @media (max-width: min-smartphone)
    width: 100%

.section-cont-article
  width: 48%
  height: auto
  overflow: hidden
  display: block
  float: left
  margin: 0 0.5%
  border-bottom: 1px solid colore-loppure

  @media (max-width: medium)
    width: 70%
    margin: 0 auto
    float: right
    margin-left: 1%

  @media (max-width: mini-tablet)
    width: 100%
    float: none
    display: block
    margin: 40px auto

.widget-dx
  width: 30%
  height: auto
  overflow: hidden
  display: block
  float: left
  margin-left: 0.5%

  @media (max-width: medium)
    width: 50%
    float: none
    margin: 10px auto
    display: block

  @media (max-width: smartphone)
    width: 90%

  @media (max-width: min-smartphone)
    width: 100%


.home-section
  margin-top: 0px

.home-header
  height: auto
  overflow: hidden
  padding: 0
  background-color: bianco
  padding-top: 15px
  border-bottom: 2px solid colore-loppure

.barra-nome-pagina
  clear: both

/*Page - Nessun Post*/


.no-results
  width: 250px
  height: 200px
  padding: 40px 30px 20px
  margin: 40px auto
  display: block
  text-align: center
  border 1px solid colore-loppure

  header
    height: auto
    overflow: hidden
    margin 0 auto
    padding 0

  h1
    font-size: 1.5rem
    margin-bottom: 10px

    &::before
      width: 70px
      height: 30px
      content: ""
      margin: 0 auto
      margin-bottom: 10px
      display: block
      background-image: ico-no-articoli
      background-position: center
      background-size: cover
      background-repeat: no-repeat

  p
    text-align: center
    font-size: 1rem

/* Page - Standard */

.page-standard .header-page
  height: 200px
  overflow: hidden
  padding: 0
  background-color: colore-loppure
  color: bianco

  @media (max-width: smartphone)
    height: 150px

  h1
    padding: 0
    margin: 0;
    margin-top: 150px
    margin-left: 10px
    color: bianco
    font-size: 40px
    font-weight: 700
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.46)

    @media (max-width: smartphone)
      margin-top: 100px

/* Page - Chi siamo*/

.page-template-chi-siamo

  .presentazione
    width: 600px
    height: auto
    overflow: hidden
    display: block
    margin 20px auto
    padding: 50px 30px
    background-color: bianco
    border-top: 1px solid colore-loppure
    border-bottom: 1px solid colore-loppure

    p
      color: #000
      font-size: 16px


    @media (max-width: mini-tablet)
      width: 95%
      padding: 20px 10px
      border: none
      text-align: left


  .payoff
    width: 600px
    height: auto
    overflow: hidden
    display: block
    margin 10px auto
    padding: 50px 30px
    background-color: bianco
    text-align: center
    border-top: 1px solid colore-loppure
    border-bottom: 1px solid colore-loppure

    @media (max-width: mini-tablet)
      width: 90%
      padding: 20px 10px

    span
      font-size: 40px
      line-height: 40px
      font-weight: 700
      color: colore-loppure

  // Page - chi siamo: box



/* Page - Contatti */

.page-template-contatti

  .content-contatti
    display: block
    text-align: center

  .card-contatti
    width: 300px
    height: 150px
    display: inline-block
    overflow: hidden
    padding: 10px
    margin: 10px
    text-align: center
    border: 1px solid colore-loppure

    &::before
      width: 50px
      height: 40px
      content:' '
      display: block
      margin: 5px auto
      float: none
      background-image: ico-contatti-mail
      background-repeat: no-repeat
      background-size: contain
      background-position: center

    @media (max-width: min-smartphone)
      height: auto
      display: block
      margin: 10px auto

    @media (max-width: min)
      width: 90%
      max-width: 90%


    h3
      margin: 0 auto
      font-size: 18px
      font-weight: 400
      text-align: center


    span
      height: auto
      overflow: hidden
      display: block
      margin: 0 auto
      font-size: 15px
      text-align: center
      color: colore-loppure

    a
      display: inline-block
      margin-top: 10px
      text-align: center
      color: #000
      border-bottom: 2px solid colore-loppure
      text-decoration: none

  .content-local
    width: 500px
    display: block
    margin: 0 auto
    padding: 15px 0;
    border-top: 2px solid colore-loppure
    border-bottom: 2px solid colore-loppure
    text-align: center

    @media (max-width: mini-tablet)
      width: 80%

    @media (max-width: min-smartphone)
      width: 90%

    @media (max-width: min)
      width: 95%

    h3

      &::before
        width: 40px
        height: 70px
        content:' '
        display: block
        margin-right: 10px
        float: left
        background-image: ico-local
        background-repeat: no-repeat
        background-size: contain
        background-position: center


  .content-social
    width: 500px
    display: block
    margin: 20px auto
    text-align: center

    @media (max-width: smartphone)
      width: 90%

    h3
      text-align: center

    span
      text-align: center

    ul
      text-align: center

      li
        display: inline-block

/* Page - informativa */

.card-informativa
  width: 720px
  height: auto
  display: block
  overflow: hidden
  margin: 20px auto
  padding: 20px
  border: 1px solid colore-loppure
  background: bianco

  @media (max-width: medium)
    width: 80%
    padding: 10px

  @media (max-width: min-smartphone)
    width: 90%
    padding: 10px
    border: none
    border-top: 1px solid colore-loppure
    border-bottom: 1px solid colore-loppure

  @media (max-width: min)
    width: 100%
    padding: 10px 0
    border: none

  h3
    margin-bottom: 5px
    text-align: center
    font-size: 18px



/* Page - porta città */
.page-template-porta-citta

  .card-porta-loppure
    width: 720px
    display: block
    margin: 20px auto
    margin-bottom: 70px;
    border-top: 2px solid colore-loppure
    text-align: center

    header
      height: auto
      overflow: hidden

    h3
      line-height: 50px
      font-size: 20px
      float: left

      &::before
        width: 50px
        height: 50px
        content:' '
        display: block
        margin-right: 20px
        float: left
        background-color: colore-loppure
