/*Page - Home*/
.widget-sx
  col(2)

  @media (max-width: mini-tablet)
    col(3)

  @media (max-width: min-smartphone)
    col(12)

.section-cont-article
  col(6)

  @media (max-width: mini-tablet)
    col(9)

  @media (max-width: min-smartphone)
    col(12)

.widget-dx
  col(4)
  
  @media (max-width: mini-tablet)
    col(12)

.home-section
  margin-top: 0px

.home-header
  height: auto
  overflow: hidden
  padding: 0
  background-color: bianco
  padding-top: 15px
  border-bottom: 2px solid colore-loppure

.barra-nome-pagina
  clear: both

/*Page - Nessun Post*/


.no-results
  width: 250px
  height: 200px
  padding: 40px 30px 20px
  margin: 40px auto
  display: block
  text-align: center
  border 1px solid colore-loppure

  header
    height: auto
    overflow: hidden
    margin 0 auto
    padding 0

  h1
    font-size: 1.5rem
    margin-bottom: 10px

    &::before
      width: 70px
      height: 30px
      content: ""
      margin: 0 auto
      margin-bottom: 10px
      display: block
      background-image: ico-no-articoli
      background-position: center
      background-size: cover
      background-repeat: no-repeat

  p
    text-align: center
    font-size: 1rem

/* Page - Standard */

.page-standard .header-page
  height: 100px
  overflow: hidden
  padding: 0
  background-color: colore-loppure
  color: bianco

  h1
    padding: 0
    margin: 0;
    margin-top: 70px
    color: bianco
    font-size: 30px

/* Page - Chi siamo*/

.page-template-chi-siamo

  .presentazione
    width: 500px
    display: block
    margin 0 auto

  .payoff
    width: 600px
    height: auto
    overflow: hidden
    display: block
    margin 0 auto
    background-color: grigio-intermedio
    text-align: center

    span
      font-size: 40px;

  // Page - chi siamo: box



/* Page - Contatti */

.page-template-contatti
  .card-contatti
    width: auto
    height: 120px
    padding: 20px 10px
    text-align: center
    border: 1px solid colore-loppure

    h3
      font-size: 18px
      font-weight: 400
      text-align: left

      &::before
        width: 60px
        height: 70px
        content:' '
        display: block
        margin-right: 20px
        float: left
        background-image: ico-contatti-mail
        background-repeat: no-repeat
        background-size: contain
        background-position: center


    span
      height: 50px
      display: block
      font-size: 15px
      text-align: left
      color: colore-loppure

    a
      text-align: center
      color: #000
      border-bottom: 2px solid colore-loppure

  .content-local
    width: 500px
    display: block
    margin: 0 auto
    border-top: 2px solid colore-loppure
    text-align: center

    h3

      &::before
        width: 40px
        height: 70px
        content:' '
        display: block
        margin-right: 10px
        float: left
        background-image: ico-local

  .content-social
    width: 500px
    display: block
    margin: 0 auto
    border-top: 2px solid colore-loppure
    text-align: center

    h3
      text-align: center

    span
      text-align: center

    ul
      text-align: center

      li
        display: inline-block

/* Page - porta città */
.page-template-porta-citta

  .card-porta-loppure
    width: 720px
    display: block
    margin: 20px auto
    margin-bottom: 70px;
    border-top: 2px solid colore-loppure
    text-align: center

    header
      height: auto
      overflow: hidden

    h3
      line-height: 50px
      font-size: 20px
      float: left

      &::before
        width: 50px
        height: 50px
        content:' '
        display: block
        margin-right: 20px
        float: left
        background-color: colore-loppure
