//Scheletro
html
  font-family: sans-serif;

body
  margin: 0
  padding: 0
  background-color: grigio-chiaro

html, body
  min-height: 100%;

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary
  display: block

div, section
  height: auto
  display: block
  overflow: visible
  background-size: cover
  background-position: center
  background-repeat: no-repeat

section
  clear: both

//Scheletro - site-content
.site-content
  width: 100%
  height: auto
  overflow: hidden
  display: block
  margin: 0 auto
  padding-top: 40px

  @media (max-width: max)
    width: 95%

  @media (max-width: medium)
    width: 100%

  //Scheletro -> Site-content -> section
  section
    width: auto
    height: auto
    overflow: hidden
    padding: 10px 20px
    margin: 20px auto

    @media (max-width: smartphone)
      padding:  0

    p
      color: rgba(0, 0, 0, 0.5)
      text-align: justify
      padding: 0 20px


//Scheletro - section-page
.section-page
  max-width: 1200px
  display: block
  height: auto
  overflow: hidden
  clear: both
  margin: 0 auto
  padding: 0
  background-color: grigio-chiaro

  @media (max-width: smartphone)
    width: 100%;

//Scheletro - section-page-full
.section-page-full
  width: 100%
  display: block
  height: auto
  overflow: hidden
  clear: both
  margin: 0 auto
  padding: 0
  background-color: grigio-chiaro

//Scheletro - content-page-text
.content-page-text
  width: 960px
  display: block
  margin: 0 auto

  @media (max-width: tablet)
    width: 90%

  @media (max-width: smartphone)
    width: 95%

//Scheletro - section
.section-page
  min-height: 550px
  height: auto
  overflow: hidden
  display: block
  box-shadow: ombra-bottom-scura
  position: relative

  &:nth-child(1)
    z-index: 5

  &:nth-child(2)
    z-index: 4

  &:nth-child(3)
    z-index: 3

  &:nth-child(4)
    z-index: 2

  &:nth-child(5)
    z-index: 1

  &.loop-article
    max-width: 960px
    display: block
    margin: 0 auto
    box-shadow: none

//Scheletro - Home
.block-sinistra
  width: 22.5%
  display: block
  float: left
  padding: 20px 0
  text-align: center

  @media (max-width: tablet)
    width: 100%
    float: none
    margin: 0 auto

.block-centrale
  width: 50%
  display: block
  float: left
  margin: 0 2%
  padding: 20px 0
  text-align: center
  border-left: 2px solid colore-loppure
  border-right: 2px solid colore-loppure

  @media (max-width: tablet)
    width: 60%

  @media (max-width: mini-tablet)
    width: 70%
    margin: 0 auto
    border: none
    border-right: 2px solid colore-loppure

  @media (max-width: fat-phone)
    width: 65%

  @media (max-width: smartphone)
    width: 100%
    display: block
    margin: 0 auto
    float: none

.block-destra
  width: 22.5%
  display: block
  padding: 20px 0
  float: right
  text-align: center

  @media (max-width: tablet)
    width: 35%
    margin: 0 auto

  @media (max-width: mini-tablet)
    width: 28%

  @media (max-width: fat-phone)
    width: 30%

  @media (max-width: smartphone)
    width: 100%
    display: block
    margin: 0 auto
    float: none

//scheletro -> archive categoty e Autore
.archive.category .block-sinistra,
.archive.author .block-sinistra
  width: 20%
  display: block
  float: left
  padding: 20px 0
  text-align: center

  @media (max-width: tablet)
    width: 100%
    float: none
    margin: 0 auto

.archive.category .block-destra,
.archive.author .block-destra
  width: 75%
  display: block
  float: left
  margin: 0 2%
  padding: 20px 0
  text-align: center
  border-left: 2px solid colore-loppure

  @media (max-width: mini-tablet)
    width: 90%
    margin: 0 auto
    border: none
    border-right: 2px solid colore-loppure

  @media (max-width: smartphone)
    width: 100%
    display: block
    margin: 0 auto
    float: none

// TODO extra provisorio - scheletro
a.skip-link.screen-reader-text
  display: none
