//Scheletro
html
  font-family: sans-serif;

body
  margin: 0
  padding: 0
  background-color: grigio-chiaro

html, body
  min-height: 100%;

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary
  display: block

div, section
  height: auto
  display: block
  overflow: visible
  background-size: cover
  background-position: center
  background-repeat: no-repeat

//Scheletro - site-content
.site-content
  margin: 0 auto
  padding-top: 50px
  width: 100%
  max-width: 1200px
  min-height: 100%

  @media (max-width: max)
    width: 95%
    max-width: 100%

  @media (max-width: medium)
    width: 100%
    max-width: 100%

  @media (max-width: min)
    width: 100%
    max-width: 100%

.content-area
  padding: 0 0.5rem

  @media (max-width: medium)
    padding: 0 1rem

  @media (max-width: min)
    padding: 0 0.5rem

//Scheletro - Content-page
.content-page
  width: 100%
  display: block
  height: auto
  overflow: hidden
  clear: both
  margin: 0 auto
  padding: 0
  background-color: grigio-chiaro

  @media (max-width: smartphone)
    width: 100%;
    margin-top: -120px

  p
    color: rgba(0, 0, 0, 0.5)
    text-align: justify
    padding: 0 20px

.page-standard
  width: 99%
  margin-top: 0
  padding: 0


  section
    width: auto
    height: auto
    overflow: hidden
    padding: 10px 20px
    margin: 20px auto

    @media (max-width: smartphone)
      padding:  0


.content-page-text
  width: 960px
  display: block
  margin: 0 auto

  @media (max-width: tablet)
    width: 90%

  @media (max-width: smartphone)
    width: 95%


//Scheletro -> Home
.block-sinistra
  width: 22.5%
  display: block
  float: left

  @media (max-width: tablet)
    width: 100%
    float: none
    margin: 0 auto

.bock-centrale
  width: 50%
  display: block
  float: left
  margin: 0 2%
  border-left: 2px solid colore-loppure
  border-right: 2px solid colore-loppure

  @media (max-width: tablet)
    width: 60%

  @media (max-width: mini-tablet)
    width: 70%
    margin: 0 auto
    border: none
    border-right: 2px solid colore-loppure

  @media (max-width: fat-phone)
    width: 65%

  @media (max-width: smartphone)
    width: 100%
    display: block
    margin: 0 auto
    float: none

.block-destra
  width: 22.5%
  display: block
  float: right

  @media (max-width: tablet)
    width: 35%
    margin: 0 auto

  @media (max-width: mini-tablet)
    width: 28%

  @media (max-width: fat-phone)
    width: 30%

  @media (max-width: smartphone)
    width: 100%
    display: block
    margin: 0 auto
    float: none

/*extra provisorio - scheletro*/
a.skip-link.screen-reader-text
  display: none
