/*Single - Scheletro */
.single-content-wrapper
  gs("fluid")

.content-single
  col(9)

.sidebar-single
  col(3)

.single article.post
  width: 95%
  display: block
  margin: 0 auto
  padding: 0 20px
  background-color: grigio-chiaro

/*Single - header*/
.single-header
  col(9)
  height: auto
  padding-top: 50px

  .content-title
    width: 80%
    height: 100px
    float: right
    background-color: green

    h1
      width: 90%
      margin-top: 20px
      padding: 0 20px
      float: right
      font-size: 1.75rem

/*Single - Image*/
.single-image
  width: 99%
  height: 300px
  float: right
  clear: both
  background-color: red

/*Single - Content text */
.content-text
  width: 80%
  float: right
  background-color: green

  .text
    width: 85%
    display: block
    margin: 0 auto
    padding: 20px 40px
    background-color: bianco

    font-size: 1rem
    text-align: justify

/*Single - Social*/
.single-social
  width: 15%
  float: left
  margin-left: 1%
  text-align: center
  background-color: red


/*Single - Tipogafia*/

.text
  p
    margin: 0 auto
    margin-top: 5px
    margin-bottom: 10px

  a, a:visited
    color: red;

  a:hover, a:focus, a:active
    color: colore-loppure
    text-decoration: none

  b, strong
    font-weight: bold

  i, em
    font-style: italic
