/*Single - Scheletro */
.single-content-wrapper
  gs("fluid")

.content-single
  col(9)
  margin 0 auto

.sidebar-single
  col(3)

.single article.post
  width: 100%
  display: block
  margin: 0 auto
  padding: 0 20px
  background-color: grigio-chiaro

/*Single - header*/
.single-header
  col(9)
  height: auto
  margin: 0 auto
  padding: 0
  padding-top: 50px

  .content-title
    width: 100%
    height: auto
    overflow: hidden
    float: right
    background-color: colore-loppure

    h1
      width: 100%
      margin 20px 10px 10px
      float: right
      font-size: 1.75rem
      color: bianco

      &::before
        width: 50px
        height: 50px
        content: ' '
        float: left
        margin-right: 20px
        border-right: 2px solid bianco

/*Single - Image*/
.single-image
  width: 100%
  height: 300px
  float: right
  clear: both
  background-color: red

/*Single - Content text */
.content-text
  width: 82%
  float: right
  background-color: colore-loppure

  .text
    width: 90%
    display: block
    float: left
    margin: 0 auto
    padding: 20px 30px
    background-color: bianco

    font-size: 1rem
    text-align: justify


/*Single - colori*/
/*Single - colori: gusti della terra*/
.category-gusti-della-terra
  .content-title
    background-color: color-gusti-della-terra

  .content-text
    background-color: color-gusti-della-terra

/*Single - colori: voli sul territorio*/
.category-voli-sul-territorio
  .content-title
    background-color: color-voli-sul-territorio

  .content-text
    background-color: color-voli-sul-territorio

/*Single - colori: radici nel tempo*/
.category-radici-nel-tempo
  .content-title
    background-color: color-radici-nel-tempo

  .content-text
    background-color: color-radici-nel-tempo

/*Single - colori: Pausa caffe*/
.category-pausa-caffe
  .content-title
    background-color: color-pausa-caffe

  .content-text
    background-color: color-pausa-caffe

/*Single - colori: pensieri tra le pagine*/
.category-pausa-caffe
  .content-title
    background-color: color-pensieri-tra-le-pagine

  .content-text
    background-color: color-pensieri-tra-le-pagine

/*Single - icon TODO VANNO BIANCHE*/
/*Single - icon: gusti della terra*/
.category-gusti-della-terra
  .content-title h1::before
    background: img-gusti-della-terra

/*Single - colori: voli sul territorio*/
.category-voli-sul-territorio
  .content-title h1::before
    background-color: img-voli-sul-territorio

/*Single - colori: radici nel tempo*/
.category-radici-nel-tempo
  .content-title h1::before
    background-color: img-radici-nel-tempo

/*Single - colori: Pausa caffe*/
.category-pausa-caffe
  .content-title h1::before
    background-color: img-pausa-caffe

/*Single - colori: pensieri tra le pagine*/
.category-pausa-caffe
  .content-title h1::before
    background-color: img-pensieri-tra-le-pagine



/*Single - Tipogafia*/

.text
  p
    margin: 0 auto
    margin-top: 5px
    margin-bottom: 10px

  a, a:visited
    color: red;

  a:hover, a:focus, a:active
    color: colore-loppure
    text-decoration: none

  b, strong
    font-weight: bold

  i, em
    font-style: italic
