/*Single - Scheletro */
.single-content-wrapper
  gs("fluid")

.content-single
  col(9)
  margin 0 auto

.sidebar-single
  col(3)

.sidebar-single-mobile
  display: none

.single .content-area
  padding: 0

.single article.post
  width: 100%
  display: block
  margin: 0 auto
  padding: 0
  background-color: grigio-chiaro

/*Single - header*/
.single-header
  col(9)
  height: auto
  margin: 0 auto
  padding: 0
  padding-top: 50px

  .content-title
    width: 100%
    height: auto
    overflow: hidden
    float: right
    background-color: colore-loppure

    &::before
      width: 50px
      height: 50px
      content: ' '
      float: left
      margin: 15px
      background-size: contain
      background-repeat: no-repeat
      background-position: center

    h1
      min-height: 50px
      max-width: 85%
      margin 15px 10px 15px 0
      padding-left: 15px
      float: left
      font-size: 25px
      color: bianco
      font-weight: 400
      border-left: 2px solid bianco


/*Single - Image*/
.single-image
  width: 100%
  height: 300px
  float: right
  clear: both
  background-color: red

/*Single - Content text */
.content-text
  width: 82%
  float: right
  background-color: colore-loppure

  .text
    max-width: 91%
    display: block
    float: left
    margin: 0 auto
    padding: 20px 40px
    background-color: bianco

    font-size: 15px
    text-align: justify

    font-family: 'Merriweather', serif;

/*Single - Content text - content-fonti*/

.content-fonti
  padding-top: 20px;
  border-top: 2px solid colore-loppure
  color: colore-loppure

  span
    display: block
    margin: 10px auto
    clear: left
    line-height: 25px
    font-size: 14px

    &::before
      width: 25px
      height: 25px
      display: block
      margin 0 auto
      margin-right: 10px
      content: ' '
      float: left
      background-color red

    &:nth-child(2)::before
      background-color: green

    &:nth-child(3)::before
      background-color: blue


/*Single - Footer*/

/*Single - Footer - informativa*/
.footer-single
  height: auto
  overflow: hidden

  .informativa
    width: 1200px
    height: auto
    overflow: hidden
    display: block
    margin: 0 auto
    margin-bottom: 20px
    clear: both

    article
      col(9)
      margin: 0;
      background-color: colore-loppure
      color: bianco

      &::after
        width: 30px
        height: 70px
        display: block
        margin: 20px auto
        content: ' '
        float: right
        background-color: red

      p
        width: 60%
        float: right
        margin: 20px 100px 10px 20px;
        font-size: 13px
        text-align: justify

/*Single - Footer - Author*/
.content-author-single
  border-top: 2px solid colore-loppure

  .author-single
    width: 720px
    display: block
    margin: 20px auto
    padding 20px 10px
    background-color: grigio-intermedio

    img
      width: 100px
      height: 100px
      display: block
      margin: 0 auto
      border-radius: 50%
      border: 2px solid colore-loppure

    h4
      margin: 20px auto
      display: block
      text-align: center

    .author-bio
      padding: 20px 10px


/*Single - colori e icone*/
/*Single - colori-icone: gusti della terra*/
.category-gusti-della-terra
  //Colore content title
  .content-title
    background-color: color-gusti-della-terra

    //Icona content title
    &::before
      background-image: img-gusti-della-terra-bianco

  //Colore content text
  .content-text
    background-color: color-gusti-della-terra

    //Colore bordo content fonti
    .content-fonti
      border-color: color-gusti-della-terra


/*Single - colori-icone: voli sul territorio*/
.category-voli-sul-terriotorio
  // Colore content-title
  .content-title
    background-color: color-voli-sul-territorio

    //Icona content title
    &::before
      background-image: img-voli-sul-territorio-bianco

  // Colore content-text
  .content-text
    background-color: color-voli-sul-territorio

    //Colore bordo content fonti
    .content-fonti
      border-color: color-voli-sul-territorio

/*Single - colori-icone: radici nel tempo*/
.category-radici-nel-tempo
  .content-title
    background-color: color-radici-nel-tempo
    //Icona content title
    &::before
      background-image: img-radici-nel-tempo-bianco

  //Colore content-text
  .content-text
    background-color: color-radici-nel-tempo

    //Colore bordo content fonti
    .content-fonti
      border-color: color-radici-nel-tempo


/*Single - colori-icone: Pausa caffe*/
.category-pausa-caffe
  //Colore content-title
  .content-title
    background-color: color-pausa-caffe

    //Icona content title
    &::before
      background-image: img-pausa-caffe

  //Colore content-text
  .content-text
    background-color: color-pausa-caffe

    //Colore bordo content fonti
    .content-fonti
      border-color: color-pausa-caffe

/*Single - colori-icone: pensieri tra le pagine*/
.category-pausa-caffe
  //Colore content-title
  .content-title
    background-color: color-pensieri-tra-le-pagine

    //Icona content title
    &::before
      background-image: img-pensieri-tra-le-pagine-bianco

  //Colore content-text
  .content-text
    background-color: color-pensieri-tra-le-pagine

    //Colore bordo content fonti
    .content-fonti
      border-color: color-pensieri-tra-le-pagine


//Single - commenti
.comments-area
  width: 700px
  display: block
  margin: 30px auto

  .show-hide-img
    width: 50px
    height: 50px
    display: block
    margin: 0 auto
    border: 3px solid colore-loppure
    border-radius: 50%

  .comments-show-hide
    background-color: red

  //contenitore wrapper
  .comments-wrapper
    border: 1px solid colore-loppure

    //Elemento di chiusura dei commenti
    .close_comments
      width: 25px
      height: 25px
      display: block
      float: left
      background-color: red
      border-radius: 50%

    //Contenitore commento
    .comment-content
      max-width: 500px
      height: auto
      overflow: hidden
      display: block
      clear: both
      margin: 0 auto
      padding: 10px 17px
      font-size: 14px
      background-color: grigio-intermedio
      border-radius: 20px

      header
        height: auto
        display: block
        margin: 0 auto
        padding: 0;
        clear: left
        color: colore-loppure

        h3
          margin: 0 auto
          padding: 0
          font-size: 15px

      .comment-body p
        font-size: 13px
        color: colore-loppure

      .rispondi button
        background: none
        border: 1px solid colore-loppure

        &:hover
          background-color: colore-loppure
          border: 1px solid colore-loppure
          color: #fff

  form
    height: auto
    overflow: hidden
    display: block
    margin: 20px auto

    p
      margin: 0
      padding: 0

    input
      width: 400px
      display: block
      margin: 10px auto
      padding: 3px 5px
      font-size: 16px
      border: 2px solid colore-loppure
      border-radius: 5px
      color: #000
      outline: none

    .form-submit
      text-align: center

      input.submit
        width: auto
        height: auto
        display: inline-block

    textarea
      width: 400px
      max-width: 90%
      height: 100px
      display: block
      margin: 10px auto
      padding: 3px 5px
      font-size: 14px
      border: 2px solid colore-loppure
      border-radius: 10px
      color: #000

    .comment-notes
      width: 300px
      display: block
      margin: 0 auto
      font-size: 12.5px
      text-align: center



/*Single - Tipogafia*/

.text
  p
    margin: 0 auto
    margin-top: 5px
    margin-bottom: 10px

  a, a:visited
    color: red;

  a:hover, a:focus, a:active
    color: colore-loppure
    text-decoration: none

  b, strong
    font-weight: bold

  i, em
    font-style: italic
