/* variabili */

min = 450px
smartphone = 640px
mini-tablet = 720px
medium = 960px
tablet = 1024px
max = 1200px

//Colore città
color-pordenone = #609FB2
color-udine = #60B571
color-trieste = #D78788
color-gorizia = #D8CD90

//Colore rubriche
color-voli-sul-territorio = #a9c476
color-gusti-della-terra = red
color-radici-nel-tempo = #e0d4a0
color-pausa-caffe = #bca291
color-pensieri-tra-le-pagine = #f4e5a4
color-parole-nostre = gray

color-progetti = gray
color-reportage = gray

//Ombra interna colore rubriche
ombra-voli-sul-territorio = inset 0px -5px 0px 0px rgba(169,196,118,1)
ombra-gusti-della-terra = inset 0px -5px 0px 0px rgba(255,0,0,1)
ombra-radici-nel-tempo = inset 0px -5px 0px 0px rgba(224,212,160,1)
ombra-pausa-caffe = inset 0px -5px 0px 0px rgba(188,162,145,1)
ombra-pensieri-tra-le-pagine = inset 0px -5px 0px 0px rgba(244,229,164,1)
ombra-parole-nostre = inset 0px -5px 0px 0px rgba(128,128,128,1)
ombra-progetti = inset 0px -5px 0px 0px rgba(128,128,128,1)
ombra-reportage = inset 0px -5px 0px 0px rgba(128,128,128,1)

// Icone ribriche
img-gusti-della-terra = url("../../src/img/icone/gusti-della-terra.svg")
img-voli-sul-territorio = url("../../src/img/icone/voli-sul-territorio.svg")
img-radici-nel-tempo = url("../../src/img/icone/radici-nel-tempo.svg")
img-pausa-caffe = url("../../src/img/icone/pausa-caffe.svg")
img-pensieri-tra-le-pagine = url("../../src/img/icone/pensieri-tra-le-pagine.svg")
img-parole-nostre = url("../../src/img/icone/parole-nostre.svg")

img-parole-progetti = url("../../src/img/icone/progetti.svg")

colore-loppure = #40484C

bianco = #fff
grigio-chiaro = #F4F4F4
grigio-intermedio = #ccc //#ddd
grigio-medio = #a0a2a3 //#DDDDDD
grigio-scuro = #5d6668 //#7B7B7B

colore-errore = #E53935

ombra-normale = 0.08rem 0.08rem 0.08rem 0.08rem rgba(0, 0, 0, 0.3)
ombra-scura =  2px 2px 2px 0px rgba(0,0,0,0.5)

sfondo-nero-opaco = rgba(0, 0, 0, 0.7)

/*Palette L'oppure*/
rosso-scuso-20 = #F2B3B3
rosso-scuso-40 = #E08C8C
rosso-scuso-60 = #CE6B6B
rosso-scuso-80 = #B75C5C
rosso-scuso-100 = #A34D4D

rosso-20 = #EFABAB
rosso-40 = #EA8383
rosso-60 = #EA6565
rosso-80 = #D85656
rosso-100 = #BA4747

marrone-scuro-20 = #DBC2B4
marrone-scuro-40 = #BCA291
marrone-scuro-60 = #A0826D
marrone-scuro-80 = #8C6C54
marrone-scuro-100 = #724E3B

marrone-20 = #F4C7B0
marrone-40 = #EAA882
marrone-60 = #D88D68
marrone-80 = #CD7C4F
marrone-100 = #AF603B

marrone-chiaro-20 = #F4C59F
marrone-chiaro-40 = #EFB27B
marrone-chiaro-60 = #E29E4B
marrone-chiaro-80 = #CC8C46
marrone-chiaro-100 = #AF7338

giallo-scuro-20 = #EAE2BE
giallo-scuro-40 = #E0D4A0
giallo-scuro-60 = #D6C580
giallo-scuro-80 = #BFB073
giallo-scuro-100 = #9B8F5C

giallo-20 = #FFF5CA
giallo-40 = #F4E5A4
giallo-60 = #F2DB7C
giallo-80 = #E8CC56
giallo-100 = #DDB91F

acido-20 = #DFEDBC
acido-40 = #C6DB8D
acido-60 = #A9C476
acido-80 = #90A563
acido-100 = #74843C

verde-scuro-20 = #A8E2B1
verde-scuro-40 = #89CE97
verde-scuro-60 = #60B279
verde-scuro-80 = #5F966A
verde-scuro-100 = #4D7754

verde-acqua-scuro-20 = #B1E8E6
verde-acqua-scuro-40 = #82D1D1
verde-acqua-scuro-60 = #67B1B7
verde-acqua-scuro-80 = #529999
verde-acqua-scuro-100 = #3C7F7A

blu-20 = #A9CDDB
blu-40 = #89B7C9
blu-60 = #749AB7
blu-80 = #5A859E
blu-100 = #3C6E82

viola-20 = #D5C3E2
viola-40 = #C4A7D8
viola-60 = #B28CC4
viola-80 = #9472AA
viola-100 = #795391

rosa-scuro-20 = #EFCEE4
rosa-scuro-40 = #DDB6CE
rosa-scuro-60 = #CC9AB9
rosa-scuro-80 = #AA749B
rosa-scuro-100 = #935785

grigio-10 = #F7F7F7
grigio-20 = #E8E8E8
grigio-40 = #CCCCCC
grigio-60 = #A0A2A3
grigio-80 = #7E8384
grigio-100 = #5D6668
