/* variabili */

min = 400px
min-smartphone = 520px
smartphone = 640px
fat-phone = 720px
mini-tablet = 860px
medium = 960px
tablet = 1024px
max = 1200px

//@media (max-width: smartphone)

//Colore città
color-pordenone = #609FB2
color-udine = #60B571
color-trieste = #D78788
color-gorizia = #D8CD90

//Colore rubriche
color-gusti-della-terra = #CE6B6B
color-voli-sul-territorio = #A9C476
color-radici-nel-tempo = #E0D4A0
color-parole-nostre = #A9CDDB
color-pausa-caffe = #BCA291
color-pensieri-tra-le-pagine = #C4A7D8


//Colore rgba 1 rubriche
color-rgba-gusti-della-terra-1 = rgba(206,107,107,1)
color-rgba-voli-sul-territorio-1 = rgba(169,196,118,1)
color-rgba-radici-nel-tempo-1 = rgba(224,212,160,1)
color-rgba-parole-nostre-1 = rgba(169,205,219,1)
color-rgba-pausa-caffe-1 = rgba(188,162,145,1)
color-rgba-pensieri-tra-le-pagine-1 = rgba(196,167,216,1)

//Colore rgba 0.4 rubriche
color-rgba-gusti-della-terra-02 = rgba(206,107,107,0.4)
color-rgba-voli-sul-territorio-02 = rgba(169,196,118,0.4)
color-rgba-radici-nel-tempo-04 = rgba(224,212,160,0.4)
color-rgba-parole-nostre-04 = rgba(169,205,219,0.4)
color-rgba-pausa-caffe-04 = rgba(188,162,145,0.4)
color-rgba-pensieri-tra-le-pagine-04 = rgba(196,167,216,0.4)

//Ombra box interna colore rubriche
ombra-box-gusti-della-terra  = inset 0px -5px 0px 0px rgba(206,107,107,1)
ombra-box-voli-sul-territorio = inset 0px -5px 0px 0px rgba(169,196,118,1)
ombra-box-radici-nel-tempo = inset 0px -5px 0px 0px rgba(224,212,160,1)
ombra-box-parole-nostre = inset 0px -5px 0px 0px rgba(169,205,219,1)
ombra-box-pausa-caffe = inset 0px -5px 0px 0px rgba(188,162,145,1)
ombra-box-pensieri-tra-le-pagine = inset 0px -5px 0px 0px rgba(196,167,216,1)

//Gradienti centrali box post standard
gradiente-centrale-voli-sul-territorio = ellipse at center, rgba(169,196,118,0) 0%, rgba(169,196,118,1) 100%
gradiente-centrale-parole-nostre = ellipse at center, rgba(224,212,160,0) 0%, rgba(224,212,160,1) 100%
gradiente-centrale-pausa-caffe = ellipse at center, rgba(188,162,145,0) 0%, rgba(188,162,145,1) 100%
gradiente-centrale-pensieri-tra-le-pagine = ellipse at center, rgba(196,167,216,0) 0%, rgba(196,167,216,1) 100%



// Icone rubriche
img-gusti-della-terra = url("../../src/img/icon-rubriche/loppure-gusti-della-terra.svg")
img-voli-sul-territorio = url("../../src/img/icon-rubriche/loppure-voli-sul-territorio.svg")
img-radici-nel-tempo = url("../../src/img/icon-rubriche/loppure-radici-nel-tempo.svg")
img-pausa-caffe = url("../../src/img/icon-rubriche/loppure-pausa-caffe.svg")
img-pensieri-tra-le-pagine = url("../../src/img/icon-rubriche/loppure-pensieri-tra-le-pagine.svg")
img-parole-nostre = url("../../src/img/icon-rubriche/loppure-parole-nostre.svg")


// Icone bianche rubriche
img-gusti-della-terra-bianco = url("../../src/img/icon-rubriche/loppure-gusti-della-terra-bianco.svg")
img-voli-sul-territorio-bianco = url("../../src/img/icon-rubriche/loppure-voli-sul-territorio-bianco.svg")
img-radici-nel-tempo-bianco = url("../../src/img/icon-rubriche/loppure-radici-nel-tempo-bianco.svg")
img-pausa-caffe-bianco = url("../../src/img/icon-rubriche/loppure-pausa-caffe-bianco.svg")
img-pensieri-tra-le-pagine-bianco = url("../../src/img/icon-rubriche/loppure-pensieri-tra-le-pagine-bianco.svg")
img-parole-nostre-bianco = url("../../src/img/icon-rubriche/loppure-parole-nostre-bianco.svg")


// Icone nere rubriche
img-gusti-della-terra-nero = url("../../src/img/icon-rubriche/loppure-gusti-della-terra-nero.svg")
img-voli-sul-territorio-nero = url("../../src/img/icon-rubriche/loppure-voli-sul-territorio-nero.svg")
img-radici-nel-tempo-nero = url("../../src/img/icon-rubriche/loppure-radici-nel-tempo-nero.svg")
img-pausa-caffe-nero = url("../../src/img/icon-rubriche/loppure-pausa-caffe-nero.svg")
img-pensieri-tra-le-pagine-nero = url("../../src/img/icon-rubriche/loppure-pensieri-tra-le-pagine-nero.svg")
img-parole-nostre-nero = url("../../src/img/icon-rubriche/loppure-parole-nostre-nero.svg")

// Icone generiche
ico-no-articoli = url("../../src/img/icone-generiche/no-articoli.svg")
ico-contatti-mail = url("../../src/img/icone-generiche/contanti-mail.svg")
ico-local = url("../../src/img/icone-generiche/local.svg")
ico-info-bianca = url("../../src/img/icone-generiche/info.svg")
ico-info-nera = url("../../src/img/icone-generiche/info-nero.svg")

// Icone bianche generiche
ico-no-articoli-bianco = url("../../src/img/icone-generiche/no-articoli-bianco.svg")
ico-contatti-mail-bianco = url("../../src/img/icone-generiche/contanti-mail-bianco.svg")
ico-local-bianco = url("../../src/img/icone-generiche/local-bianco.svg")
ico-info-bianco = url("../../src/img/icone-generiche/info-bianco.svg")

// Icone nere generiche
ico-no-articoli-nero = url("../../src/img/icone-generiche/no-articoli-nero.svg")
ico-contatti-mail-nero = url("../../src/img/icone-generiche/contanti-mail-nero.svg")
ico-local-nero = url("../../src/img/icone-generiche/local-nero.svg")
ico-info-nero = url("../../src/img/icone-generiche/info-nero.svg")

// immagini città

img-pordenone = url("../../src/img/citta/citta-pordenone.svg")
img-udine = url("../../src/img/citta/citta-udine.svg")
img-trieste = url("../../src/img/citta/citta-trieste.svg")
img-gorizia = url("../../src/img/citta/citta-gorizia.svg")
img-treviso = url("../../src/img/citta/citta-treviso.svg")


// immagini generica
img-esempio = url("../../src/img/esempio.jpg")

colore-loppure = #40484C

bianco = #fff
grigio-chiaro = #F4F4F4
grigio-intermedio = #ccc //#ddd
grigio-medio = #a0a2a3 //#DDDDDD
grigio-scuro = #5d6668 //#7B7B7B

colore-errore = #E53935

ombra-normale = 0.08rem 0.08rem 0.08rem 0.08rem rgba(0, 0, 0, 0.3)
ombra-scura =  2px 2px 2px 0px rgba(0,0,0,0.5)

//ombra bottom
ombra-bottom-scura =  0px 3px 2px 0px rgba(0,0,0,0.5)

sfondo-nero-opaco = rgba(0, 0, 0, 0.7)

/*Palette L'oppure*/
rosso-scuso-20 = #F2B3B3
rosso-scuso-40 = #E08C8C
rosso-scuso-60 = #CE6B6B
rosso-scuso-80 = #B75C5C
rosso-scuso-100 = #A34D4D

rosso-20 = #EFABAB
rosso-40 = #EA8383
rosso-60 = #EA6565
rosso-80 = #D85656
rosso-100 = #BA4747

marrone-scuro-20 = #DBC2B4
marrone-scuro-40 = #BCA291
marrone-scuro-60 = #A0826D
marrone-scuro-80 = #8C6C54
marrone-scuro-100 = #724E3B

marrone-20 = #F4C7B0
marrone-40 = #EAA882
marrone-60 = #D88D68
marrone-80 = #CD7C4F
marrone-100 = #AF603B

marrone-chiaro-20 = #F4C59F
marrone-chiaro-40 = #EFB27B
marrone-chiaro-60 = #E29E4B
marrone-chiaro-80 = #CC8C46
marrone-chiaro-100 = #AF7338

giallo-scuro-20 = #EAE2BE
giallo-scuro-40 = #E0D4A0
giallo-scuro-60 = #D6C580
giallo-scuro-80 = #BFB073
giallo-scuro-100 = #9B8F5C

giallo-20 = #FFF5CA
giallo-40 = #F4E5A4
giallo-60 = #F2DB7C
giallo-80 = #E8CC56
giallo-100 = #DDB91F

acido-20 = #DFEDBC
acido-40 = #C6DB8D
acido-60 = #A9C476
acido-80 = #90A563
acido-100 = #74843C

verde-scuro-20 = #A8E2B1
verde-scuro-40 = #89CE97
verde-scuro-60 = #60B279
verde-scuro-80 = #5F966A
verde-scuro-100 = #4D7754

verde-acqua-scuro-20 = #B1E8E6
verde-acqua-scuro-40 = #82D1D1
verde-acqua-scuro-60 = #67B1B7
verde-acqua-scuro-80 = #529999
verde-acqua-scuro-100 = #3C7F7A

blu-20 = #A9CDDB
blu-40 = #89B7C9
blu-60 = #749AB7
blu-80 = #5A859E
blu-100 = #3C6E82

viola-20 = #D5C3E2
viola-40 = #C4A7D8
viola-60 = #B28CC4
viola-80 = #9472AA
viola-100 = #795391

rosa-scuro-20 = #EFCEE4
rosa-scuro-40 = #DDB6CE
rosa-scuro-60 = #CC9AB9
rosa-scuro-80 = #AA749B
rosa-scuro-100 = #935785

grigio-10 = #F7F7F7
grigio-20 = #E8E8E8
grigio-40 = #CCCCCC
grigio-60 = #A0A2A3
grigio-80 = #7E8384
grigio-100 = #5D6668
