// Widget - lista
.widget-item
  padding: 20px 0 30px

  ul
    margin-top: 20px
    border-top: 0.125rem solid colore-loppure

// Widget - lista: item
  .item
    width: 48%
    height: 40px
    display: inline-block
    margin: 5px auto
    text-align: center
    background-color: bianco

    &::after
      height: 20px
      width: 20px
      margin: 10px;
      content: " "
      display: inline-block
      float: left
      border-radius: 50%
      background-color: colore-loppure

    a
      display: inline-block
      padding: 12px 0
      text-decoration: none
      color: colore-loppure

// Widget - lista: item Hover
  li.item:hover
    background-color: colore-loppure

    &::after
      background-color: bianco

    a
      color: bianco


// Widget Social - lista

/*Single - Social*/
.widget-share-social
  width: 120px
  float: left
  margin-top: 20px
  text-align: center

  ul
    text-align: center

  .item-social
    width: 40px
    height: 40px
    display: inline-block
    margin: 7px

    background-color: red

/* Widget - lista Timeline */
.timeline
  .archive-item
    width: auto
    display: block

/* Widget - lista Categoria */
.categorie
  .categorie-item
    width: 80%
    display: block

/* widget - text*/
.widget-text
  width: auto
  padding: 20px 0 30px
  background-color: bianco
  border: 0.08rem solid grigio-intermedio

/*Widget - action */
