// Widget - lista
.widget-item
  padding: 0
  margin: 10px auto
  text-align: center
  border-top: 0.125rem solid colore-loppure
  border-bottom: 0.125rem solid colore-loppure

  h6
    margin: 3px auto
    margin-bottom: 7px
    padding: 5px 0
    font-size: 18px
    text-align: center
    color: bianco
    background-color: colore-loppure

  ul
    margin: 0 auto
    padding: 0

  // Widget - lista
  .item
    width: 125px
    height: 35px
    overflow: hidden
    display: inline-block
    margin: 2px
    padding: 3px
    text-align: center
    background-color: bianco

    @media (max-width: min-smartphone)
      width: 100%
      height: auto
      display: block

    a
      display: block
      padding: 0
      margin: 0
      line-height: 35px
      float: left
      text-decoration: none
      color: colore-loppure

      @media (max-width: min-smartphone)
        float: none
        text-align: center
        font-size: 18px

      &::before
        height: 15px
        width: 15px
        margin: 10px 5px
        margin-right: 10px
        content: " "
        display: block
        float: left
        border-radius: 50%
        background-color: colore-loppure

        @media (max-width: min-smartphone)
          display: none


    &:hover a
      color: bianco

      &::before
        background-color: bianco




  // Widget - lista: item Hover
  li.item:hover
    background-color: colore-loppure

    &::after
      background-color: bianco

    a
      color: bianco


// Widget Social - lista
.widget-share-social
  width: 120px
  float: left
  margin-top: 20px
  text-align: center

  @media (max-width: mini-tablet)
    display: none

  ul
    text-align: center

  .item-social
    width: 27px
    height: 27px
    display: inline-block
    padding: 10px
    margin: 3px
    border 2px solid grigio-chiaro
    border-radius: 50%

    &:hover
      border-color: colore-loppure

// widget - timeline
.timeline
  display: block
  height: auto
  overflow: hidden
  text-align: center

  .archive-item
    width: 100%
    display: inline-block
    margin 5px auto
    font-size: 18px


    @media (max-width: mini-tablet)
      width: auto
      min-width: 150px
      height: 40px
      margin: 5px
      padding: 7px 5px;
      padding-right: 10px

    @media (max-width: min-smartphone)
      width: 100%
      text-align: center


// widget lista - Città
.widget-item.citta
  .item
    @media (max-width: tablet)
      width: 100%

    @media (max-width: medium)
      max-width: 48%


// widget lista - Categorie
.list-categorie
  display: block
  margin: 0 auto
  text-align:center

  .item
    width: auto
    height: 40px;
    display: block
    padding: 5px
    border: 5px solid colore-loppure
    background-color: colore-loppure

    @media (max-width: medium)
      height: 35px

    @media (max-width: mini-tablet)
      width: 150px
      height: 100px
      overflow: hidden
      display: inline-block
      margin: 5px

    @media (max-width: min-smartphone)
      width: 135px

    @media (max-width: min)
      width: 100%

    &:after
      display: none

    a
      margin: 5px auto
      padding: 0
      float: left
      font-size: 20px
      line-height: 35px
      color: bianco
      text-decoration: none

      @media (max-width: medium)
        line-height: 30px
        font-size: 17px
        letter-spacing: -1px

      @media (max-width: mini-tablet)
        float: none
        text-align: center
        letter-spacing: 0
        font-size: 18px
        line-height: 20px


      &::before
        width: 35px
        height: 35px
        content: ''
        display: block
        margin: 0 auto
        margin-right: 10px
        float: left
        border-radius: 0
        background: none
        background-position: center
        background-size: contain
        background-repeat: no-repeat

        @media (max-width: medium)
          width: 30px
          height: 30px
          margin-right: 5px

        @media (max-width: mini-tablet)
          width: 45px
          height: 45px
          display: block
          margin: 5px auto
          float: none

    &:hover
      background-color: bianco

      a
        color: colore-loppure

  //colore e icone Voli sul territorio
  .voli-sul-territorio
    background-color: color-voli-sul-territorio
    border-color: color-voli-sul-territorio

    a::before
      background-image: img-voli-sul-territorio-bianco

    &:hover
      background-color: bianco

      a
        color: color-voli-sul-territorio

        &::before
          background-image:  img-voli-sul-territorio

  //colore e icone gusti della terra
  .gusti-della-terra
    background-color: color-gusti-della-terra
    border-color: color-gusti-della-terra

    a::before
      background-image: img-gusti-della-terra-bianco

    &:hover
      background-color: bianco

      a
        color: color-gusti-della-terra

        &::before
          background-image:  img-gusti-della-terra

  //colore e icone radici nel tempo
  .radici-nel-tempo
    background-color: color-radici-nel-tempo
    border-color: color-radici-nel-tempo

    a::before
      background-image: img-radici-nel-tempo-bianco

    &:hover
      background-color: bianco

      a
        color: color-radici-nel-tempo

        &::before
          background-image:  img-radici-nel-tempo

  //colore e icone pausa caffè
  .pausa-caffe
    background-color: color-pausa-caffe
    border-color: color-pausa-caffe

    a::before
      background-image: img-pausa-caffe-bianco

    &:hover
      background-color: bianco

      a
        color: color-radici-nel-tempo

        &::before
          background-image:  img-pausa-caffe

  //colore e icone pensieri-tra-le-pagine
  .pensieri-tra-le-pagine
    background-color: color-pensieri-tra-le-pagine
    border-color: color-pensieri-tra-le-pagine

    a::before
      background-image: img-pensieri-tra-le-pagine-bianco

    &:hover
      background-color: bianco

      a
        color: color-pensieri-tra-le-pagine

        &::before
          background-image:  img-pensieri-tra-le-pagine


// Widget lista box - Categorie
.list-categorie-box
  overflow: hidden

  li.item
    width: 47%
    height: 100px
    margin: 0 0.5%
    margin-top: 5px
    margin-bottom: 5px
    display: block
    float: left
    background-color: colore-loppure
    border 3px solid colore-loppure

    &:after
      display: none


    a
      width: 100%
      font-size: 16px
      font-weight: 700
      line-height: 16px
      color: bianco

      &::before
        width: 50px
        height: 50px
        float: none
        content:' '
        display: block
        margin: 10px auto
        border-radius: 0
        background: none
        background-position: center
        background-size: contain
        background-repeat: no-repeat

    &:hover
      background-color: bianco

      a
        color: colore-loppure

  //colore e icone Voli sul territorio
  li.voli-sul-territorio
    background-color: color-voli-sul-territorio
    border-color: color-voli-sul-territorio

    a::before
      background-image: img-voli-sul-territorio-bianco

    &:hover
      background-color: bianco

      a
        color: color-voli-sul-territorio

        &::before
          background-image:  img-voli-sul-territorio

  //colore e icone gusti della terra
  li.gusti-della-terra
    background-color: color-gusti-della-terra
    border-color: color-gusti-della-terra

    a::before
      background-image: img-gusti-della-terra-bianco

    &:hover
      background-color: bianco

      a
        color: color-gusti-della-terra

        &::before
          background-image:  img-gusti-della-terra

  //colore e icone radici nel tempo
  li.radici-nel-tempo
    background-color: color-radici-nel-tempo
    border-color: color-radici-nel-tempo

    a::before
      background-image: img-radici-nel-tempo-bianco

    &:hover
      background-color: bianco

      a
        color: color-radici-nel-tempo

        &::before
          background-image:  img-radici-nel-tempo

  //colore e icone pausa caffè
  li.pausa-caffe
    background-color: color-pausa-caffe
    border-color: color-pausa-caffe

    a::before
      background-image: img-pausa-caffe-bianco

    &:hover
      background-color: bianco

      a
        color: color-radici-nel-tempo

        &::before
          background-image:  img-pausa-caffe

  //colore e icone pensieri-tra-le-pagine
  li.pensieri-tra-le-pagine
    background-color: color-pensieri-tra-le-pagine
    border-color: color-pensieri-tra-le-pagine

    a::before
      background-image: img-pensieri-tra-le-pagine-bianco

    &:hover
      background-color: bianco

      a
        color: color-pensieri-tra-le-pagine

        &::before
          background-image:  img-pensieri-tra-le-pagine

// Widget text
.widget-text
  width: auto
  padding: 20px 0 30px
  background-color: bianco
  border: 0.08rem solid grigio-intermedio

// Widget image
.widget-image
  width: auto
  padding: 10px 0 20px
  background-color: bianco
  border: 0.08rem solid grigio-intermedio

  h3
    margin: 20px auto
    margin-top: 0
    padding: 0
    font-size: 15px
    text-align: center

  img
    width: 50%
    height: auto
    display: block
    margin: 0 auto

//Widget-altro - città
.widget-altro
  height: auto
  overflow: hidden
  background-color: bianco

  li.item
    width: auto
    height: auto
    margin: 5px 15px
    display: inline-block
    float: left
    text-align: left
    background: none

    &:hover
      color: colore-loppure
      background: colore-loppure

      a
        text-decoration: underline
        color: colore-loppure

        &::before
          background: colore-loppure

    a::before
      height: 10px
      width: 10px
      margin: 15px 30px
      content: " ";
      display: inline-block;
      float: left;
      border-radius: 50%;
      background-color: #40484c;


// Widget single - content
.widget-item-single
  margin: 40px auto

  h3
    margin: 10px auto
    font-size: 20px
    border-bottom: 2px solid colore-loppure

// Widget single - lista generica
.widget-item-list-single

  h3
    margin: 10px auto
    font-size: 20px
    border-bottom: 2px solid colore-loppure

  .item
    width: 40%
    margin: 0 2%
    margin-bottom: 5px
    margin-top: 5px
    padding: 3px 5px
    float: left
    border: 1px solid colore-loppure
    color: colore-loppure

    a
      color: colore-loppure

    &:hover
      background-color: colore-loppure

      a
        color: bianco
