

@font-face {
    font-family: 'gentium_basicbold';
    src: url('font/gentium/genbasb-webfont.eot');
    src: url('font/gentium/genbasb-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gentium/genbasb-webfont.woff2') format('woff2'),
         url('font/gentium/genbasb-webfont.woff') format('woff'),
         url('font/gentium/genbasb-webfont.ttf') format('truetype'),
         url('font/gentium/genbasb-webfont.svg#gentium_basicbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gentium_basicitalic';
    src: url('font/gentium/genbasi-webfont.eot');
    src: url('font/gentium/genbasi-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gentium/genbasi-webfont.woff2') format('woff2'),
         url('font/gentium/genbasi-webfont.woff') format('woff'),
         url('font/gentium/genbasi-webfont.ttf') format('truetype'),
         url('font/gentium/genbasi-webfont.svg#gentium_basicitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gentium_basicregular';
    src: url('font/gentium/genbasr-webfont.eot');
    src: url('font/gentium/genbasr-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gentium/genbasr-webfont.woff2') format('woff2'),
         url('font/gentium/genbasr-webfont.woff') format('woff'),
         url('font/gentium/genbasr-webfont.ttf') format('truetype'),
         url('font/gentium/genbasr-webfont.svg#gentium_basicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
      font-family: 'robotobold';
      src: url('font/roboto/roboto-bold-webfont.eot');
      src: url('font/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('font/roboto/roboto-bold-webfont.woff2') format('woff2'),
           url('font/roboto/roboto-bold-webfont.woff') format('woff'),
           url('font/roboto/roboto-bold-webfont.ttf') format('truetype'),
           url('font/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'robotoregular';
      src: url('font/roboto/roboto-regular-webfont.eot');
      src: url('font/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('font/roboto/roboto-regular-webfont.woff2') format('woff2'),
           url('font/roboto/roboto-regular-webfont.woff') format('woff'),
           url('font/roboto/roboto-regular-webfont.ttf') format('truetype'),
           url('font/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
      font-weight: normal;
      font-style: normal;

}


@font-face {
    font-family: 'robotothin';
    src: url('font/roboto/light/roboto-thin-webfont.eot');
    src: url('font/roboto/light/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto/light/roboto-thin-webfont.woff2') format('woff2'),
         url('font/roboto/light/roboto-thin-webfont.woff') format('woff'),
         url('font/roboto/light/roboto-thin-webfont.ttf') format('truetype'),
         url('font/roboto/light/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}
