.overlay .twitter {
  display: block;
}

.twitter {
  display: none;
  height: 305px;
  padding: 5px 10px;
  border-bottom: 30px solid $color-pordenonelegge;

  .header-twitter {
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  h1 {
    color: $gray;
    font-size: 17px;
    margin-top: 6px;
    margin-left: 56px;
  }

  h6 {
    color: $gray;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    margin-top: -15px;
    margin-left: 56px;
  }

  .tweet_date {
    float: left;
  }

  .user_name {
    float: left;
    padding-left: 40px;
  }

  .tweet_body {
    clear: both;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;

  }

  p {
    padding: 0 10px;
  }

  .icon-twitter-live {
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid $gray;
    border-radius:50%;
    @include background_svg( 'icon-twitter-piccola' );
    background: {
      position: center;
      size: 70%;
      repeat: no-repeat;
    }
  }


  .icon-pnlegge-twitter {
    height: 100px;
    width: 200px;
    position: relative;
    top:-3px;
    left: 0px;
    background: {
      image: url(img/pordenonelegge-rotomdo.png);
      size: 70%;
      repeat: no-repeat;
    }
  }
}
