<!DOCTYPE html>
<html>
<head>
  <title>Overlay Card Image</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../../assets/dist/styles/app.css">
</head>
<body>

<article class="overlay-author">
    <button class="close-overlay"></button>
    <header>
      <img src="#" />
      <h3>Nome persona</h3>
    </header> <!-- chiusura header -->
  <article class="content">
    <div class="text">
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
        eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      </p>
    </div>
  </article> <!-- Chiusura article -->
  <footer>
    <!-- in futuro metteremo i suoi contatti sui social  e articoli -->
  </footer>
</section>
</body>
</html>
