/* sotto-dominio > iscriviti > login */

.content-login
  width: 350px
  display: block
  margin: 0 auto
  margin-top: 30px
  margin-bottom: 3rem
  padding: 40px 20px
  text-align: center
  background-color:#fff
  -webkit-box-shadow: ombra-normale
  -moz-box-shadow: ombra-normale
  box-shadow: ombra-normale

  @media (max-width: min)
    width: 90%

  h4
    text-align: center;
    font-size: 2rem
    margin-bottom: 7px

  span
    display: block;
    text-align: center
    font-size: 0.9rem
    color: grigio-scuro

  form
    width: 100%
    padding: 20px 30px

  .button
    font-size: 1rem
    padding: 3px 7px

.error
  width: 350px;
  padding: 5px 10px 10px;
  margin: 0 auto
  display: block
  margin-top: 20px
  margin-bottom: -20px
  background-color: red /* rivedere */
  -webkit-box-shadow: ombra-normale
  -moz-box-shadow: ombra-normale
  box-shadow: ombra-normale

  @media (max-width: min)
    width: 90%

  h4
    text-align: center
    font-weight: bold
    font-size: 1.2rem
    margin-bottom: 0.3rem
    color: #fff

  span
    display: block
    text-align: center
    font-size: 0.9rem
    color: #fff
