.sidebar-single{
  margin: 0;

	button {
    display: block;

    margin: 0 auto;
    margin-top: 15px;
    border-radius: 50px;
  	padding: 4px 13px;

  	background-color: $gray-medium;
  	color: $gray;
    text-transform: lowercase;
    letter-spacing: 0.2px;

    font: {
      weight: bold;
      size: 18px;
    }


  	&:hover{
  		color: $gray-dark;
  	}

	}

	.icon-sidbaer {
		width: 45px;
		height: 45px;
		background-color: $gray-medium;
		margin: 0 auto;
		margin-top: 10px;
		display: block;
		border-radius: 50%;
	}


	.gray-slim {
		background-color: $gray-slim;
		clear: both;
	}

	.gray-slim {
		margin-right: 15px;
		margin-top: 20px;

    h1 {
      margin-top: 7px;
      font-size:17px;
      font-weight: normal;
      text-align: center;
    }

		&.widget-iniziative {
  		float: right;
  		height: 170px;
      max-width: 100%;
      width: 100%;
      padding: 20px 15px;
      margin: 0 auto;
      margin-top: 30px;

    }


    &.widget-rubriche{
  		height: 240px;

      max-width: 100%;
      width: 100%;
      margin: 30px auto 0;
      padding: 0 15px;
      float: right;

    }

	}


  //////////////////////////RUBRICHE////////////////////

  .widget-rubriche {
    ul {
      clear: both;
      margin: 0 auto;

      li {
        clear: both;
        text-align: center;
        margin: 0 auto;
        width: 80%;
        padding: 5px 0;

        a {
          display: block;

          padding: 5px 0;
          border-bottom: 2px solid $gray-medium;

          font-size: 16px;
          text-align: center;
          color: $gray;

          &:hover{
            color: $gray-dark;
            border-bottom: 2px solid $gray;
          }
        }
      }
    }

    @include media( "<tablet-verticale" ) {
      float: right;
    }
  }
}
