
//font titoli -> font-family: 'Poppins', sans-serif
//font testo -> font-family: 'Raleway', sans-serif;

// -> Poppins

/* -> Poppins Light
@font-face
  font-family: 'poppinslight'
  src: url('../../src/font/Poppins/poppins-light-webfont.woff2') format('woff2'),
    url('../../src/font/Poppins/poppins-light-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
*/

/* -> Poppins Regolar
@font-face
  font-family: 'poppinsregular'
  src: url('../../src/font/Poppins/poppins-regular-webfont.woff2') format('woff2'),
    url('../../src/font/Poppins/poppins-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
*/

@font-face
  font-family: 'poppinsmedium'
  src: url('../../src/font/Poppins/fontpoppins-medium-webfont.woff2') format('woff2'),
    url('../../src/font/Poppins/poppins-medium-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

/* Poppins SemiBlod
@font-face
  font-family: 'poppinssemibold'
  src: url('../../src/font/Poppins/poppins-semibold-webfont.woff2') format('woff2'),
    url('../../src/font/Poppins/poppins-semibold-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
*/

/* -> Poppins Bold
@font-face
    font-family: 'poppinsbold'
    src: url('../../src/font/Poppins/poppins-bold-webfont.woff2') format('woff2'),
      url('../../src/font/Poppins/poppins-bold-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
*/


// -> Raleway

/* -> Raleway Thin
@font-face {
    font-family: 'ralewaythin';
    src: url('../../src/font/Raleway/raleway-thin-webfont.woff2') format('woff2'),
      url('../../src/font/Raleway/raleway-thin-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
*/

/* -> Raleway Thin Italic
@font-face
    font-family: 'ralewaythin_italic'
    src: url('../../src/font/raleway-thinitalic-webfont.woff2') format('woff2'),
      url('../../src/font/raleway-thinitalic-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
*/


/* -> Raleway Extra Light
@font-face
    font-family: 'ralewayextralight'
    src: url('../../src/font/raleway-extralight-webfont.woff2') format('woff2'),
      url('../../src/font/raleway-extralight-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
*/

/* -> Raleway Extra Light Italic
@font-face
    font-family: 'ralewayextralight_italic'
    src: url('../../src/font/raleway-extralightitalic-webfont.woff2') format('woff2'),
      url('../../src/font/raleway-extralightitalic-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
*/

/* -> Raleway Light
@font-face
    font-family: 'ralewaylight'
    src: url('../../src/font/raleway-light-webfont.woff2') format('woff2'),
      url('../../src/font/raleway-light-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
*/

/* -> Raleway Light Italic
@font-face
    font-family: 'ralewaylight_italic'
    src: url('../../src/font/raleway-lightitalic-webfont.woff2') format('woff2'),
      url('../../src/font/raleway-lightitalic-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
*/

@font-face
  font-family: 'ralewayregular'
  src: url('../../src/font/Raleway/raleway-regular-webfont.woff2') format('woff2'),
    url('../../src/font/Raleway/raleway-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

/* -> Raleway  Italic
@font-face
    font-family: 'ralewayitalic'
    src: url('../../src/font/raleway-italic-webfont.woff2') format('woff2'),
      url('../../src/font/raleway-italic-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
*/

/* -> Raleway Medium
@font-face
    font-family: 'ralewaymedium'
    src: url('../../src/font/raleway-medium-webfont.woff2') format('woff2'),
      url('../../src/font/raleway-medium-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
*/

/* -> Raleway Medium Italic
@font-face
    font-family: 'ralewaymedium_italic'
    src: url('../../src/font/raleway-mediumitalic-webfont.woff2') format('woff2'),
      url('../../src/font/raleway-mediumitalic-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
*/

/* Raleway -> SemiBold
@font-face
    font-family: 'ralewaysemibold'
    src: url('../../src/font/raleway-semibold-webfont.woff2') format('woff2'),
      url('../../src/font/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal
    font-style: normal
*/

/* Raleway -> SemiBold Italic
@font-face
    font-family: 'ralewaysemibold_italic'
    src: url('../../src/font/raleway-semibolditalic-webfont.woff2') format('woff2'),
      url('../../src/font/raleway-semibolditalic-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
*/
