.scroll_up
  background: green;
  width: 40px;
  height: 40px;
  display: block
  margin: 0 auto
  position: fixed;
  bottom: 10px;
  right: 20px;


  background-position: center
  background-repeat: no-repeat
  background-size: 80%

.content-assistent
  width: 100px
  height: 150px
  display: block
  margin: 0 auto
  padding: 5px
  padding-top: 0
  position: fixed
  bottom: 10px
  left: 20px
  background-color: bianco
  border: 1px solid colore-loppure

  .assistent
    width: 70px
    height: 70px
    display: block
    margin: 0 auto
    background-color: red
    border-radius: 50%

  h6
    padding: 0
    margin: 0
    margin-top: 10px
    font-size: 14px
    text-align: center
    border-top: 1px solid colore-loppure

  span
    display: block
    margin: 0 auto
    padding: 0
    font-size: 12px
    text-align: center

  .novita
    background-color: colore-loppure
    padding: 2px 1px
    margin-bottom: 10px
    color: bianco
