/* Elementi -> Button*/
/* Content Buttun */

.content-button
  height: auto
  overflow: hidden
  display: block
  margin: 0 auto
  padding: 0
  text-align: center
  background-color: bianco

.content-button-widget
  height: auto
  overflow: hidden
  display: block
  margin: 0 auto
  padding: 0
  text-align: center
  background-color: bianco
  border-bottom: 0.125rem solid colore-loppure

/* button*/
button, input[type="button"], input[type="reset"], input[type="submit"], .button, a.button
  display: inline-block;
  margin: 0 auto
  margin-top: 5px
  margin-bottom: 5px
  padding: 7px 10px
  clear both
  font-family: "Roboto", "Arial", sans-serif /*rivedere*/
  font-size: 15px
  font-weight: 700
  text-align: center;
  color: colore-loppure
  border-radius: 0.38rem
  background-color: grigio-chiaro
  border: 0.12rem solid colore-loppure
  outline: none
  cursor: pointer

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, a.button:hover
  color: #fff
  background-color: colore-loppure
  border: 0.12rem solid colore-loppure
