/* button-like - elementi*/
.button-like-post
  display: inline-block
  padding: 2px
  border: 2px solid bianco
  border-radius: 10px
  background: none

  &::after
    display: block
    width: 20px
    height: 20px
    content: ' '
    margin: 3px
    margin-left: 10px
    float: right
    background-color: red
