//Elementi -> card

//Elementi -> card: Scheletro
.card
  width: 450px
  height: 400px
  height: auto
  display: block
  margin: 20px auto
  background-color: bianco
  border: 0.08rem solid grigio-intermedio
  border-bottom: 7px solid colore-loppure
  text-align: left

  @media (max-width: min-smartphone)
    max-width: 100%
    width: auto


  a, a:visited, a:hover, a:focus, a:active
    color: colore-loppure
    text-decoration: none
    text-align: left

  p
    padding: 0
    font-size: 13.7px
    line-height: 16px
    text-align: left

  h3
    margin-bottom: 5px
    font-size: 18px
    text-align: left

//Elementi -> card: header
  header
    height: 30px
    padding: 10px 20px 15px
    font-size: 0.9rem
    color: colore-loppure

    @media (max-width: min-smartphone)
      height: auto
      overflow: hidden
      padding: 15px
      padding-bottom 0

    .post-categories
      display: inline-block
      margin: 7px
      padding: 0

      @media (max-width: min-smartphone)
        display: block
        width: 80%
        float: left
        margin: 0 5px
        margin-top: 0


    .img-category-post
      width: 40px
      height: 40px
      float: left
      border-radius: 50%


    .text-name-citta
      float: right
      margin: 7px
      padding: 0

      @media (max-width: min-smartphone)
        display: block
        width: 80%
        float: left
        margin: 0 5px
        margin-top: 0

  .text-card
    height: 140px
    overflow: hidden
    padding: 10px 20px
    margin-bottom: 10px
    font-size: 13.7px
    line-height: 16px

    @media (max-width: mini-tablet)
      height: auto

    @media (max-width: min-smartphone)
      padding: 15px

  .img-post
    height: 210px
    border-top: 0.08rem solid grigio-intermedio
    background-color: grigio-chiaro

    button
      height: 30px
      margin-top: 160px

// Elementi -> Card: Footer
.card-footer
  min-height: 50px
  display: block
  position: relative
  margin-top: -50px

  //Elementi che si aprono nel footer
  .Open-Hide
    display: block

  .comments-wrapper
    display: none
    padding: 7px

    &.open
      display: block

    //Elemento di chiusura dei commenti
    .close_comments
      width: 25px
      height: 25px
      display: block
      float: left
      background-color: #fff
      border: 1px solid #000
      border-radius: 50%
      background-image: url("../../src/img/icone-generiche/close-nero.svg")
      background-position: center
      background-repeat: no-repeat
      background-size: 60%

      &:visited
        background-image: url("../../src/img/icone-generiche/close-nero.svg")

      &:hover, &:active, &:focus
        background-image: url("../../src/img/icone-generiche/close-bianco.svg")


    //Contenitore commento
    .comment-content
      max-width: 95%
      height: auto
      overflow: hidden
      display: block
      clear: both
      margin: 0 auto
      padding: 10px 17px
      font-size: 14px
      background-color: grigio-intermedio
      border-radius: 20px

      header
        height: auto
        display: block
        margin: 0 auto
        padding: 0;
        clear: left
        color: colore-loppure

        h3
          margin: 0 auto
          padding: 0
          font-size: 15px

      .comment-body p
        font-size: 13px
        color: colore-loppure

      .rispondi button
        background: none
        border: 1px solid colore-loppure

        &:hover
          background-color: colore-loppure
          border: 1px solid colore-loppure
          color: #fff

  form
    height: auto
    overflow: hidden
    display: block
    margin: 20px auto

    p
      margin: 0
      padding: 0

    input
      width: 150px
      display: block
      margin: 10px auto
      padding: 3px 5px
      font-size: 16px
      border: 1px solid colore-loppure
      border-radius: 5px
      color: colore-loppure
      outline: none

      &:hover, &:focus, &:active
        width: 150px
        display: block
        margin: 10px auto
        padding: 3px 5px
        font-size: 16px
        border: 1px solid colore-loppure
        background-color: colore-loppure
        border-radius: 5px
        color: #fff
        outline: none

    .form-submit
      text-align: center

      input.submit
        width: auto
        height: auto
        display: inline-block



    textarea
      width: 90%
      max-width: 90%
      height: 100px
      display: block
      margin: 10px auto
      padding: 3px 5px
      font-size: 14px
      border: 1px solid #000
      border-radius: 10px
      color: #000
      outline: none

    .comment-notes
      width: 300px
      display: block
      margin: 0 auto
      font-size: 12.5px
      text-align: center



//Elementi -> card: header - colori

//Card - Gusti della terra
.card.category-gusti-della-terra
  border-color: color-gusti-della-terra

  .img-category-post
    background-image: img-gusti-della-terra

// Card - Voli sul territorio
.card.category-voli-sul-territorio
  border-color: color-voli-sul-territorio

  .img-category-post
    background-image: img-voli-sul-territorio

//Card - Radici nel tempo
.card.category-radici-nel-tempo
  border-color: color-radici-nel-tempo

  .img-category-post
    background-image: img-radici-nel-tempo

.card.category-pausa-caffe
  border-color: color-pausa-caffe

  .img-category-post
    background-image: img-pausa-caffe

.card.category-pensieri-tra-le-pagine
  border-color: color-pensieri-tra-le-pagine
  //icona colorata
  .img-category-post
    background-image: img-pensieri-tra-le-pagineo


//Elementi -> card -> Post standard
.card-post-standard
  width: 350px
  height: 350px
  overflow: hidden
  display: block
  margin: 0 auto
  margin-bottom: 20px
  color: bianco
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3)

  @media (max-width: fat-phone)
    width: 350px
    height: 350px

  @media (max-width: min)
    width: 300px
    height: 300px
    margin-bottom: 20px

  header
    height: auto
    overflow: hidden
    padding: 0
    padding-bottom: 0
    text-align: center

    a, & a:visited, & a:hover, & a:focus, & a:active
      color: bianco

    .text-name-rubrica
      float: none
      display: inline-block

      a, & a:visited, & a:hover, & a:focus, & a:active
        color: bianco
        font-size: 16px
        font-weight: 700
        text-shadow: 2px 2px 1px rgba(0,0,0,0.6)

      &::before
        width: 40px
        height: 40px
        content: ' '
        display: block
        margin: 0 auto
        margin-bottom: 5px
        border: 2px solid bianco
        border-radius: 50%
        background-size: 80%
        background-position: center
        background-repeat: none

    ul.lista-citta
      height: 30px
      text-align: center
      border-top: 1px solid bianco

      li
        display: inline-block
        margin: 3px

        a
          text-shadow: 2px 2px 1px rgba(0,0,0,0.6)

  .sfondo
    max-width: 100%
    width: auto
    max-height: 100%
    height: 100%
    padding: 10px
    display: block
    background-image: radial-gradient( ellipse at center, rgba(64,72,76,0.25) 0%, rgba(64,72,76,1) 100% )

    .content-text
      max-width: 90%
      height: 175px
      overflow: hidden
      display: block
      float: none
      margin: 0 auto
      margin-top: 5px
      background: none

      h4, & a
        margin: 0
        color: bianco
        font-size: 30px
        line-height: 34px
        text-align: center
        font-weight: 700
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);

    .card-footer
      margin: 0 auto
      height: 50px
      display: block
      text-align: center

//Elementi -> card -> Post standard -> Colore per rubriche
.category-gusti-della-terra.card-post-standard
    .sfondo
      background-image: radial-gradient( ellipse at center, rgba(206,107,107,0.25) 0%, rgba(206,107,107,1) 100% )

    .text-name-rubrica::before
      background-image: img-gusti-della-terra-bianco

.category-voli-sul-territorio.card-post-standard
    .sfondo
      background-image: radial-gradient( ellipse at center, rgba(169,196,118,0.25) 0%, rgba(169,196,118,1) 100% )

    .text-name-rubrica::before
      background-image: img-voli-sul-territorio-bianco

.category-radici-nel-tempo.card-post-standard
    .sfondo
      background-image: radial-gradient( ellipse at center, rgba(224,212,160,0.25) 0%, rgba(224,212,160,1) 100% )

    .text-name-rubrica::before
      background-image: img-radici-nel-tempo-bianco

.category-parole-nostre.card-post-standard
    .sfondo
      background-image: radial-gradient( ellipse at center, rgba(169,205,219,0.25) 0%, rgba(169,205,219,1) 100% )

    .text-name-rubrica::before
      background-image: img-parole-nostre-bianco

.category-pausa-caffe.card-post-standard
    .sfondo
      background-image: radial-gradient( ellipse at center, rgba(188,162,145,0.25) 0%, rgba(188,162,145,1) 100% )

    .text-name-rubrica::before
      background-image: img-pausa-caffe-bianco

.category-pensieri-tra-le-pagine.card-post-standard
    .sfondo
      background-image: radial-gradient( ellipse at center, rgba(196,167,216,0.25) 0%, rgba(196,167,216,1) 100% )

    .text-name-rubrica::before
      background-image: img-pensieri-tra-le-pagine-bianco

//Elementi -> Card -> archive category e Autore
.archive.category .block-destra .card-post-standard,
.archive.author .block-destra .card-post-standard
  width: 300px
  height: 300px
  margin: 10px
  float: left

  .text-name-rubrica::before
      width: 35px
      height: 35px

  .content-text
    height: 140px

    h4, & a
      font-size: 26px
      line-height: 29px
