//Elementi -> card

//Elementi -> card: Scheletro
.card
  max-width: 450px
  min-height: 400px
  height: auto
  display: block
  margin: 20px auto
  background-color: bianco
  border: 0.08rem solid grigio-intermedio
  border-bottom: 7px solid colore-loppure
  text-align: left

  @media (max-width: min-smartphone)
    max-width: 100%
    width: 100%

  a, a:visited, a:hover, a:focus, a:active
    color: colore-loppure
    text-decoration: none
    text-align: left

  p
    padding: 0
    font-size: 13.7px
    line-height: 16px
    text-align: left

  h3
    margin-bottom: 5px
    font-size: 18px
    text-align: left

//Elementi -> card: header
  header
    height: 30px
    padding: 10px 20px 15px
    font-size: 0.9rem
    color: colore-loppure

    .post-categories
      display: inline-block
      margin: 7px

    .img-category-post
      width: 40px
      height: 40px
      float: left
      border-radius: 50%


    .text-name-citta
      float: right
      margin: 7px

  .text-card
    height: 140px
    overflow: hidden
    padding: 10px 20px
    margin-bottom: 10px
    font-size: 13.7px
    line-height: 16px

    @media (max-width: mini-tablet)
      height: auto

  .img-post
    height: 210px
    border-top: 0.08rem solid grigio-intermedio
    background-color: grigio-chiaro

    button
      height: 30px
      margin-top: 160px

// Elementi -> Card: Footer
.card-footer
  min-height: 50px
  display: block
  position: relative
  top: -50px

  //Elementi che si aprono nel footer
  .Open-Hide
    display: block

  .comments-wrapper
    display: block
    padding: 7px

    //Elemento di chiusura dei commenti
    .close_comments
      width: 25px
      height: 25px
      display: block
      float: left
      background-color: #fff
      border: 1px solid #000
      border-radius: 50%
      background-image: url("../../src/img/icone-generiche/close-nero.svg")
      background-position: center
      background-repeat: no-repeat
      background-size: 60%

      &:visited
        background-image: url("../../src/img/icone-generiche/close-nero.svg")

      &:hover, &:active, &:focus
        background-image: url("../../src/img/icone-generiche/close-bianco.svg")


    //Contenitore commento
    .comment-content
      max-width: 95%
      height: auto
      overflow: hidden
      display: block
      clear: both
      margin: 0 auto
      padding: 10px 17px
      font-size: 14px
      background-color: grigio-intermedio
      border-radius: 20px

      header
        height: auto
        display: block
        margin: 0 auto
        padding: 0;
        clear: left
        color: colore-loppure

        h3
          margin: 0 auto
          padding: 0
          font-size: 15px

      .comment-body p
        font-size: 13px
        color: colore-loppure

      .rispondi button
        background: none
        border: 1px solid colore-loppure

        &:hover
          background-color: colore-loppure
          border: 1px solid colore-loppure
          color: #fff

  form
    height: auto
    overflow: hidden
    display: block
    margin: 20px auto

    p
      margin: 0
      padding: 0

    input
      width: 150px
      display: block
      margin: 10px auto
      padding: 3px 5px
      font-size: 16px
      border: 1px solid colore-loppure
      border-radius: 5px
      color: colore-loppure
      outline: none

      &:hover, &:focus, &:active
        width: 150px
        display: block
        margin: 10px auto
        padding: 3px 5px
        font-size: 16px
        border: 1px solid colore-loppure
        background-color: colore-loppure
        border-radius: 5px
        color: #fff
        outline: none

    .form-submit
      text-align: center

      input.submit
        width: auto
        height: auto
        display: inline-block



    textarea
      width: 90%
      max-width: 90%
      height: 100px
      display: block
      margin: 10px auto
      padding: 3px 5px
      font-size: 14px
      border: 1px solid #000
      border-radius: 10px
      color: #000
      outline: none

    .comment-notes
      width: 300px
      display: block
      margin: 0 auto
      font-size: 12.5px
      text-align: center



//Elementi -> card: header - colori

//Card - Gusti della terra
.card.category-gusti-della-terra
  border-color: color-gusti-della-terra

  .img-category-post
    background-image: img-gusti-della-terra

// Card - Voli sul territorio
.card.category-voli-sul-territorio
  border-color: color-voli-sul-territorio

  .img-category-post
    background-image: img-voli-sul-territorio

//Card - Radici nel tempo
.card.category-radici-nel-tempo
  border-color: color-radici-nel-tempo

  .img-category-post
    background-image: img-radici-nel-tempo

.card.category-pausa-caffe
  border-color: color-pausa-caffe

  .img-category-post
    background-image: img-pausa-caffe

.card.category-pensieri-tra-le-pagine
  border-color: color-pensieri-tra-le-pagine
  //icona colorata
  .img-category-post
    background-image: img-pensieri-tra-le-pagineo
