//Elementi -> card

//Elementi -> card: Scheletro
.card
  max-width: 450px
  height: 400px
  display: block
  margin: 20px auto
  background-color: bianco
  border: 0.08rem solid grigio-intermedio
  border-bottom: 7px solid colore-loppure

  a, a:visited, a:hover, a:focus, a:active
    color: colore-loppure
    text-decoration: none

  p
    padding: 0
    font-size: 0.875rem

  h3
    margin-bottom: 5px
    font-size: 1.188rem

//Elementi -> card: header
  header
    height: 30px
    padding: 10px 20px 15px
    font-size: 0.9rem
    color: colore-loppure

    .post-categories
      display: inline-block
      margin: 7px

    .img-category-post
      width: 30px
      height: 30px
      float: left
      border-radius: 50%
      background-color: colore-loppure


    .text-name-citta
      float: right
      margin: 7px

  .text-card
    height: 120px
    padding: 10px 20px

  .img-post
    height: 210px
    border-top: 0.08rem solid grigio-intermedio

    button
      height: 30px
      margin-top: 160px

/* Footer Card*/
.card footer
  display: none

//Elementi -> card: header - colori

.category-gusti-della-terra .img-category-post
  background-color: bianco;
  //icona colorata

.category-gusti-della-terra .img-category-post
  background-color: bianco
  //icona colorata

.category-radici-nel-tempo .img-category-post
  background-color: bianco
  //icona colorata

.category-pausa-caffe .img-category-post
  background-color: bianco
  //icona colorata

.category-pensieri-tra-le-pagine .img-category-post
  background-color: bianco
  //icona colorata

//Elementi -> card: article - color border bottom

.category-gusti-della-terra .card
  border-color: color-gusti-della-terra;
  //icona colorata

.category-voli-sul-terriotorio .card
  border-color: color-voli-sul-territorio
  //icona colorata

.category-radici-nel-tempo .card
  border-color: color-radici-nel-tempo
  //icona colorata

.category-pausa-caffe .card
  border-color: color-pausa-caffe
  //icona colorata

.category-pensieri-tra-le-pagine .card
  border-color: color-pensieri-tra-le-pagine
  //icona colorata
