.wrapper-box
  gs("fluid")

.box-rettangolo-4
  col(3)
  height: 100px
  margin-bottom: 10px
  background-color: red

  @media (max-width: tablet)
    height: 150px

  @media (max-width: medium)
    col(6)
    height: 130px
    margin-bottom: 10px

  @media (max-width: mini-tablet)
    height: 100px
    margin-bottom: 5px

  @media (max-width: smartphone)
    height: 80px

.box-rettangolo-3
  col(4)
  
  @media (max-width: medium)
    col(6)

  @media (max-width: min)
    col(12)
