//Lista social - bianchi
.list-social-bianchi
  h6
    font-size: 23px
    line-height: 23px
    margin: 5px auto

  span
    font-size: 15px
    line-height: 15px
    text-align: center

  ul
    display: block
    margin 10px auto


    li
      width: 35px
      height: 35px
      display: inline-block
      margin: 5px
      padding: 7px
      border: 1px solid bianco
      border-radius: 30px

      a
        width: 100%
        height: 100%
        display: block
        overflow: hidden
        margin: 0 auto
        padding: 0
        border: none


//Lista social - bianchi
.list-social
  h6
    font-size: 23px
    line-height: 23px
    margin: 5px auto

  span
    font-size: 15px
    line-height: 15px
    text-align: center

  ul
    display: block
    margin 10px auto


    li
      width: 35px
      height: 35px
      display: inline-block
      margin: 5px
      padding: 7px
      border: 1px solid colore-loppure
      border-radius: 30px

      a
        width: 100%
        height: 100%
        display: block
        overflow: hidden
        margin: 0 auto
        padding: 0
        border: none
