/* elementi -> overlay*/
.sfondo-overlay
  width: 100%
  height: 100%
  position: fixed
  background-color: sfondo-nero-opaco
  overflow-x: auto;

.overlay
  width: 90%
  height: auto
  display: block
  overflow: hidden
  margin: 0 auto
  margin-top: 50px
  margin-bottom: 50px
  background-color: #fff

  footer
    display: none

  .close-overlay
    width: 30px
    height: 30px
    float: right
    border-radius: 50%

/* Elementi -> overlay -> overlay Image*/
.overlay-image

  .content-img
    width: 59%
    height: 550px
    float: left
    background-color: grigio-chiaro
    border-right: 0.1rem solid grigio-intermedio

    img
      max-width: 100%
      width: auto
      height: 100%
      display: block
      margin: 0 auto

    .citta
      position: relative
      top: -50px
      right: 20px
      float: right
      padding: 5px 7px
      border-radius: 10px
      background-color: red
      color: #fff
      font-size: 1.125rem

  .content
    width: 40%
    float: right

  header
    height: 70px
    padding: 30px 10px 0px
    overflow: hidden

    .img-category-post
      width: 40px
      height: 40px
      border-radius: 50%
      margin-right: 10px
      float: left
      background-color: red

    h3
      width: 80%
      display: block
      float: left
      margin: 0
      font-size: 1rem

    .categoria
      display: block
      float: left
      font-size: 0.8rem


  .text
    padding: 10px 15px
    font-size: 0.875rem

/* Elementi -> overlay -> overlay Article*/

.overlay-article
  width: 100%
  max-width: 1024px
  display: block
  margin: 50px auto

  figure
    width: 100%
    height: 350px
    clear: both
    background-image: url(http://i7.informazione.it/pruploads/58243cc6-a633-4f8d-add9-ea48aa60a055/DolomitiFr_paesaggi%2020_ph.Verin%20DOL_TurismoFVG.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center

    .citta
      position: relative
      bottom: -10px
      left: 10px
      float: left
      padding: 5px 7px
      border-radius: 10px
      background-color: red
      color: #fff
      font-size: 1.125rem

  header
    width: 100%
    max-width: 960px
    height: 70px
    overflow: hidden
    margin: 0 auto
    padding: 30px 50px 10px
    clear: both

    .img-category-post
      width: 60px
      height: 60px
      border-radius: 50%
      margin-right: 10px
      float: left
      background-color: red

    h3
      width: 90%
      margin: 0 auto
      margin-top: 5px
      display: block
      float: left
      font-size: 1.375rem

    .categoria
      float: left
      font-size: 0.8rem

  .text
    width: 100%
    max-width: 960px
    display: block
    margin: 0 auto

  .text p
    padding: 10px 20px
    font-size: 0.875rem
