/* tabelle - elementi*/
table
  -webkit-font-feature-settings: "kern", "liga", "tnum"
  -moz-font-feature-settings: "kern", "liga", "tnum"
  -ms-font-feature-settings: "kern", "liga", "tnum"
  font-feature-settings: "kern", "liga", "tnum"
  border-collapse: collapse
  margin: 0.75em 0
  table-layout: fixed
  width: 100%

th
  border-bottom: 1px solid black
  font-weight: 600
  padding: 0.75em 0
  text-align: left

td
  border-bottom: 1px solid #000
  padding: 0.75em 0

tr, td, th
  vertical-align: middle
