/* card-overlay . ovarlay - elementi*/

/* card-overlay-image*/
.loppure_image, .post {
  width: 450px;
  background-color: #F4F4F4;
}
.loppure_image figure, .post figure {
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loppure_image .img-post, .post .img-post {
  height: 200px;
  width: 100%;
}

/* card-overlay - twitter */
.section-cont-article article footer
  height: auto

.button-like-post, .button-comments
  display: inline-block
  vertical-align: middle

.button-comments span
  font-weight: bold

button:active, button:focus, a:active, a:focus, input:active, input:focus, textarea:active, textarea:focus
  outline: 0

.hidden
  display: none

.overlay .twitter
  display: block

.twitter
  display: none
  height: 305px
  padding: 5px 10px
  border-bottom: 30px solid #FCE21B

  .header-twitter
    margin-bottom: 20px
    padding: 10px 20px

  h1
    color: rgba(0, 0, 0, 0.5)
    font-size: 17px
    margin-top: 6px
    margin-left: 56px

  h6
    color: rgba(0, 0, 0, 0.5)
    font-size: 15px
    font-weight: normal
    font-style: italic
    margin-top: -15px
    margin-left: 56px

  .tweet_date
    float: left

  .user_name
    float: left
    padding-left: 40px

  .tweet_body
    clear: both
    font-size: 14px
    padding-left: 40px
    padding-right: 40px

  p
    padding: 0 10px

  .icon-twitter-live
    float: left
    width: 50px
    height: 50px
    border: 2px solid rgba(0, 0, 0, 0.5)
    border-radius: 50%
    background-position: center
    background-size: 70%
    background-repeat: no-repeat
    background-image: url("img/svg/icon-twitter-piccola.svg")
  
