.single article.loppure_evento
  max-width:  640px
  margin: 0 auto
  text-align: center
  padding-top: 100px

  .single-image
    h1
      font-size: 25px;
      background-color: red
      color: bianco

  .info-evento
    margin: 20px auto

    div
      width: 200px
      display: inline-block
      margin: 0 auto
      background-color: red

      &::before
        content: ' '
        width: 50px
        height: 50px
        margin: 0 auto
        display: block
        background-color: blue

  .text-description
    margin: 20px auto
    text-align: justify
    background-color: green

  .content-curatore
    margin: 20px auto
    background-color: blue

    article
     max-width: 200px
     display: inline-block
     background-color: red

     header
      height: auto
      overflow: hidden

     img
      width: 50px
      height: 50px
      background-color: bianco

  .content-informazioni-rubrica
    background-color: green
