#{$all-button-inputs},
button{
padding: 5px 10px;
border-radius: 50px;
border:none;
margin: 0 auto;
display: block;
background-color: $gray-medium;
color: $gray;
text-transform: lowercase;
font-size: 16px;
letter-spacing: 0.2px;
font-weight: normal;
margin-top: 15px;;

  &:hover{
    color: $gray-dark;
  }
}
