// Typography //////////////////////////////////////////////////////////////////
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

$normal-roboto: 'robotoregular';
$bold-roboto: 'robotobold';
$thin-roboto: 'robotothin';
$normal-gentium: 'gentium_basicregular';
$italic-gentium: 'gentium_basicitalic';
$bold-gentium: 'gentium_basicbold';

// Font Sizes //////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$font_post: 14.7px;
$font_normale: 15px;
$font_piccolo: 14px;

// Line height /////////////////////////////////////////////////////////////////
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes /////////////////////////////////////////////////////////////////
$base-border-radius: 7px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors //////////////////////////////////////////////////////////////////////
$blue: #4183D7;

$color__background-body: #EFEFEF;
$color__background-header: #F7F7F7;
$color__background-nav: #F7F7F7;

$color__background-nav-list__sm: #EDEDED;
$color__background-nav-list__hover__sm: #C1C6C6;

$color__background-nav-list__md: #F7F7F7;
$color__background-nav-list__hover__md: #EDEDED;

$color__background-screen: #f1f1f1;
$color__background-footer: #40484C;
$color__background-hr: #000;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-nav-list__sm: #707474;
$color__text-nav-list__hover__sm: #707474;
$color__text-nav-list__md: #555858;
$color__text-nav-list__hover__md: #888989;
$color__text-footer: #fff;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color-error: #E53935;

// single.php
$color__title-single: black;
$color__border-author: black;

$color-evidenziatore: #FFF176;

// Font Colors /////////////////////////////////////////////////////////////////
$base-background-color: #fff;
$base-font-color: $color__background-hr;
$action-color: $blue;
$color__title-single: black;
$color__border-author: black;
$color__text-post:black;
// Border //////////////////////////////////////////////////////////////////////
$base-border-color: $color__background-hr;
$base-border: 1px solid $base-border-color;

// Forms ///////////////////////////////////////////////////////////////////////
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Structure ///////////////////////////////////////////////////////////////////
$height__sm-header: 50px;
$height__md-header: 71px;

$height__figure_single__lg: 280px;
$height__figure_single__md: 240px;
$height__figure_single__sm: 180px;

$height__footer: 150px;

$width__header_wrapper__sm: 100%;
$width__header_wrapper__md: 85%;
$width__header_wrapper__lg: 92%;

$width__sm-site-content: 95%;
$width__md-site-content: 90%;
$width__lg-site-content: 80%;


//////////////////////////////////PAGE///////////////////////////////

$height_copertina: 291px;
$diametro_cerchio_pagina: 145px;
$diametro_cerchio_post: 50px;
$icon-card:50px;
$icon-social:45px;

////post////////////////////////////////////////////////////////////

$width_lg-card-citta: 450px;

$height_img_post: 200px;

// colori da sistemare//////////////////////////////////////////////////////////

$gray-dark: #40484C;
$gray: rgba(0, 0, 0, 0.5);
$gray-medium: #DDDDDD;
$gray-slim: #F4F4F4;

//////////////////COLOR SEZIONI/////////////////////////////////////
$color-pordenone: #609FB2;
$color-udine: #60B571;
$color-pordenonelegge: #FCE21B;

//////////////////////////////////CATEGORIE////////////////////////
$color-friul-eat: rgba(116, 170, 126, 0.5);
$color-book-life: rgba(226, 199, 113, 0.5);
$color-voli-territorio: rgba(178, 107, 129, 0.5);
$color-pausa-caffe: rgba(97, 152,155, 0.5);
$color-cultura: rgba(242, 70, 70, 0.5);
$color-storia: rgba(128, 136, 137, 0.5 );
$color-eventi: rgba(204, 124, 216, 0.5);
/////////////////////////Media Query///////////////////////////
$dimensione-content: 960px;
