/*pordenone*/
.term-pordenone

  .cerchio-logo-page
    background-image: url("img/svg/logo-pordenone.svg")

  .barra-nome-pagina
    background-color: #609FB2

    .site-header.headroom--not-top
      border-bottom: 5px solid #609FB2

      .cerchio-logo
        border: 5px solid #609FB2

/*udine*/
.term-udine

  .cerchio-logo-page
    background-image: url("img/svg/logo-udine.svg")

    .barra-nome-pagina
      background-color: #60B571

    .site-header.headroom--not-top
      border-bottom: 5px solid #60B571

      .cerchio-logo
        border: 5px solid #60B571

/*trieste*/
.term-trieste
  .cerchio-logo-page
    background-image: url("img/svg/logo-trieste.svg")

  .barra-nome-pagina
    background-color: #D78788

  .site-header.headroom--not-top
    border-bottom: 5px solid #D78788

    .cerchio-logo
      border: 5px solid #D78788

/*gorizia*/

.term-gorizia
  .cerchio-logo-page
    background-image: url("img/svg/logo-gorizia.svg")

  .barra-nome-pagina
    background-color: #D78788

  .site-header.headroom--not-top
    border-bottom: 5px solid #D78788

    .cerchio-logo
      border: 5px solid #D78788
