/*prestampati icone e immagini */
.logo-standard
  background-size: 113%

.logo-standard
  background-image: url("img/svg/logo-page.svg") /*rivedere*/

.img-header
  background-image: url(img/copertine/page-standard.jpg)/*rivedere*/

/* imag article - colori-icone */
.loppure_image .img-article-post
  background-image: url("img/svg/icon-post-img-piccola.svg")

.post .img-article-post
  background-image: url("img/svg/icon-articolo-piccola.svg")

/*sidebar - colori-icone*/
.timeline .img-rubriche
  background-size: 75%
  background-image: url("img/svg/time-line-piccola.svg")

.widget-rubriche .img-rubriche
  background-size: 75%
  background-image: url("img/svg/rubriche-piccola.svg")

.img-sezioni
  background-size: 120%
  background-position: 50% -4%
  background-image: url("img/svg/sezioni_icon.svg")

.logo-sostienici
  background-image: url("img/svg/logo-sostienici-piccola.svg")

.elenco-social
  .facebook
    background-image: url("img/svg/icon-facebook-dark.svg")

  .instagram
    background-size: 72%
    background-image: url("img/svg/icon-instagram-dark.svg")

  .Twitter
    background-image: url("img/svg/icon-twitter-dark.svg")

/*Pagina chi siamo - colori-icone*/
.logo-presentazione
  background-image: url("img/svg/logo-loppure.svg")

.logo-team
  background-image: url("img/svg/icon-team.svg")

.img-chi_siamo
  background-image: url(img/copertine/chi-siamo.png)

.logo-chi_siamo
  background-size: 110%
  background-image: url("img/svg/chi_siamo_icon.svg")

.logo-chi_siamo
  background-image: url("img/png/chi_siamo_icon.png")

.chi_siamo-presentazione .logo-presentazione
  background-size: 75%
  background-repeat: no-repeat
  background-position: center
  background-image: url("img/svg/rubriche-piccola.svg")

.chi_siamo-team .logo-team
  background-size: 75%
  background-repeat: no-repeat
  background-position: center
  background-image: url("img/svg/icon-team.svg")

/*Pagina Team - colori icone*/
.img-team
  background-image: url(img/copertine/Team.jpg)

.logo-team-presentazione
  background-image: url("img/svg/icon-autori.svg")

.spoiler
  .pordenone
    border-bottom: 2px solid #609FB2

  .udine
    border-bottom: 2px solid #60B571

  .trieste
    border-bottom: 2px solid #D78788

/*Contatti - Colori-icone*/
.img-contatti
  background-image: url(img/copertine/contatti.jpg)

.logo-contatti
  background-position: 40% 60%
  background-image: url("img/svg/contatti_icon.svg")

.logo-phone
  background-size: 85%
  background-repeat: no-repeat
  background-position: center
  background-image: url("img/svg/phone.svg")

.logo-mail
  background-size: 75%
  background-repeat: no-repeat
  background-position: center
  background-image: url("img/svg/icon-mail.svg")
